/**
 * @name Blackord
 * @author ExeWire
 * @authorLink https://exewire.gitlab.io
 * @version 0.6.61
 * @description Абсолютная чёрная тема для клиента Discord
 * @source https://gitlab.com/exewire/exewire.gitlab.io
 * @updateUrl https://gitlab.com/exewire/exewire.gitlab.io/-/raw/master/excdn/Blackord.theme.css
 * @authorId 610914331760132249
 * @invite 5AXyXjm
 * @website https://exewire.gitlab.io/other
*/
@import url(https://exewire.gitlab.io/excdn/jetfont.css);
*, ::-webkit-input-placeholder, ::placeholder {
	color: #fff!important;
}
::selection {
	background: #fff!important;
	color: #000!important;
}
html, body {
	background: #000!important;
}
/* Client */
* {
	--application-subscription-end: #000!important;
	--application-subscription-end-hsl: 0, 0%, 0%!important;
	--application-subscription-start: #000!important;
	--application-subscription-start-hsl: 0, 0%, 0%!important;
	--battlenet: #000!important;
	--battlenet-hsl: 0, 0%, 0%!important;
	--bg-gradient-aurora-1: #000!important;
	--bg-gradient-aurora-1-hsl: 0, 0%, 0%!important;
	--bg-gradient-aurora-2: #000!important;
	--bg-gradient-aurora-2-hsl: 0, 0%, 0%!important;
	--bg-gradient-aurora-3: #000!important;
	--bg-gradient-aurora-3-hsl: 0, 0%, 0%!important;
	--bg-gradient-aurora-4: #000!important;
	--bg-gradient-aurora-4-hsl: 0, 0%, 0%!important;
	--bg-gradient-aurora-5: #000!important;
	--bg-gradient-aurora-5-hsl: 0, 0%, 0%!important;
	--bg-gradient-chroma-glow-1: #000!important;
	--bg-gradient-chroma-glow-1-hsl: 0, 0%, 0%!important;
	--bg-gradient-chroma-glow-2: #000!important;
	--bg-gradient-chroma-glow-2-hsl: 0, 0%, 0%!important;
	--bg-gradient-chroma-glow-3: #000!important;
	--bg-gradient-chroma-glow-3-hsl: 0, 0%, 0%!important;
	--bg-gradient-chroma-glow-4: #000!important;
	--bg-gradient-chroma-glow-4-hsl: 0, 0%, 0%!important;
	--bg-gradient-chroma-glow-5: #000!important;
	--bg-gradient-chroma-glow-5-hsl: 0, 0%, 0%!important;
	--bg-gradient-citrus-sherbert-1: #000!important;
	--bg-gradient-citrus-sherbert-1-hsl: 0, 0%, 0%!important;
	--bg-gradient-citrus-sherbert-2: #000!important;
	--bg-gradient-citrus-sherbert-2-hsl: 0, 0%, 0%!important;
	--bg-gradient-cotton-candy-1: #000!important;
	--bg-gradient-cotton-candy-1-hsl: 0, 0%, 0%!important;
	--bg-gradient-cotton-candy-2: #000!important;
	--bg-gradient-cotton-candy-2-hsl: 0, 0%, 0%!important;
	--bg-gradient-crimson-moon-1: #000!important;
	--bg-gradient-crimson-moon-1-hsl: 0, 0%, 0%!important;
	--bg-gradient-crimson-moon-2: #000!important;
	--bg-gradient-crimson-moon-2-hsl: 0, 0%, 0%!important;
	--bg-gradient-desert-khaki-1: #000!important;
	--bg-gradient-desert-khaki-1-hsl: 0, 0%, 0%!important;
	--bg-gradient-desert-khaki-2: #000!important;
	--bg-gradient-desert-khaki-2-hsl: 0, 0%, 0%!important;
	--bg-gradient-desert-khaki-3: #000!important;
	--bg-gradient-desert-khaki-3-hsl: 0, 0%, 0%!important;
	--bg-gradient-dusk-1: #000!important;
	--bg-gradient-dusk-1-hsl: 0, 0%, 0%!important;
	--bg-gradient-dusk-2: #000!important;
	--bg-gradient-dusk-2-hsl: 0, 0%, 0%!important;
	--bg-gradient-easter-egg-1: #000!important;
	--bg-gradient-easter-egg-1-hsl: 0, 0%, 0%!important;
	--bg-gradient-easter-egg-2: #000!important;
	--bg-gradient-easter-egg-2-hsl: 0, 0%, 0%!important;
	--bg-gradient-forest-1: #000!important;
	--bg-gradient-forest-1-hsl: 0, 0%, 0%!important;
	--bg-gradient-forest-2: #000!important;
	--bg-gradient-forest-2-hsl: 0, 0%, 0%!important;
	--bg-gradient-forest-3: #000!important;
	--bg-gradient-forest-3-hsl: 0, 0%, 0%!important;
	--bg-gradient-forest-4: #000!important;
	--bg-gradient-forest-4-hsl: 0, 0%, 0%!important;
	--bg-gradient-forest-5: #000!important;
	--bg-gradient-forest-5-hsl: 0, 0%, 0%!important;
	--bg-gradient-hanami-1: #000!important;
	--bg-gradient-hanami-1-hsl: 0, 0%, 0%!important;
	--bg-gradient-hanami-2: #000!important;
	--bg-gradient-hanami-2-hsl: 0, 0%, 0%!important;
	--bg-gradient-hanami-3: #000!important;
	--bg-gradient-hanami-3-hsl: 0, 0%, 0%!important;
	--bg-gradient-lofi-vibes-1: #000!important;
	--bg-gradient-lofi-vibes-1-hsl: 0, 0%, 0%!important;
	--bg-gradient-lofi-vibes-2: #000!important;
	--bg-gradient-lofi-vibes-2-hsl: 0, 0%, 0%!important;
	--bg-gradient-lofi-vibes-3: #000!important;
	--bg-gradient-lofi-vibes-3-hsl: 0, 0%, 0%!important;
	--bg-gradient-lofi-vibes-4: #000!important;
	--bg-gradient-lofi-vibes-4-hsl: 0, 0%, 0%!important;
	--bg-gradient-mars-1: #000!important;
	--bg-gradient-mars-1-hsl: 0, 0%, 0%!important;
	--bg-gradient-mars-2: #000!important;
	--bg-gradient-mars-2-hsl: 0, 0%, 0%!important;
	--bg-gradient-midnight-blurple-1: #000!important;
	--bg-gradient-midnight-blurple-1-hsl: 0, 0%, 0%!important;
	--bg-gradient-midnight-blurple-2: #000!important;
	--bg-gradient-midnight-blurple-2-hsl: 0, 0%, 0%!important;
	--bg-gradient-mint-apple-1: #000!important;
	--bg-gradient-mint-apple-1-hsl: 0, 0%, 0%!important;
	--bg-gradient-mint-apple-2: #000!important;
	--bg-gradient-mint-apple-2-hsl: 0, 0%, 0%!important;
	--bg-gradient-mint-apple-3: #000!important;
	--bg-gradient-mint-apple-3-hsl: 0, 0%, 0%!important;
	--bg-gradient-neon-nights-1: #000!important;
	--bg-gradient-neon-nights-1-hsl: 0, 0%, 0%!important;
	--bg-gradient-neon-nights-2: #000!important;
	--bg-gradient-neon-nights-2-hsl: 0, 0%, 0%!important;
	--bg-gradient-neon-nights-3: #000!important;
	--bg-gradient-neon-nights-3-hsl: 0, 0%, 0%!important;
	--bg-gradient-retro-raincloud-1: #000!important;
	--bg-gradient-retro-raincloud-1-hsl: 0, 0%, 0%!important;
	--bg-gradient-retro-raincloud-2: #000!important;
	--bg-gradient-retro-raincloud-2-hsl: 0, 0%, 0%!important;
	--bg-gradient-retro-storm-1: #000!important;
	--bg-gradient-retro-storm-1-hsl: 0, 0%, 0%!important;
	--bg-gradient-retro-storm-2: #000!important;
	--bg-gradient-retro-storm-2-hsl: 0, 0%, 0%!important;
	--bg-gradient-sepia-1: #000!important;
	--bg-gradient-sepia-1-hsl: 0, 0%, 0%!important;
	--bg-gradient-sepia-2: #000!important;
	--bg-gradient-sepia-2-hsl: 0, 0%, 0%!important;
	--bg-gradient-strawberry-lemonade-1: #000!important;
	--bg-gradient-strawberry-lemonade-1-hsl: 0, 0%, 0%!important;
	--bg-gradient-strawberry-lemonade-2: #000!important;
	--bg-gradient-strawberry-lemonade-2-hsl: 0, 0%, 0%!important;
	--bg-gradient-strawberry-lemonade-3: #000!important;
	--bg-gradient-strawberry-lemonade-3-hsl: 0, 0%, 0%!important;
	--bg-gradient-sunrise-1: #000!important;
	--bg-gradient-sunrise-1-hsl: 0, 0%, 0%!important;
	--bg-gradient-sunrise-2: #000!important;
	--bg-gradient-sunrise-2-hsl: 0, 0%, 0%!important;
	--bg-gradient-sunrise-3: #000!important;
	--bg-gradient-sunrise-3-hsl: 0, 0%, 0%!important;
	--bg-gradient-sunset-1: #000!important;
	--bg-gradient-sunset-1-hsl: 0, 0%, 0%!important;
	--bg-gradient-sunset-2: #000!important;
	--bg-gradient-sunset-2-hsl: 0, 0%, 0%!important;
	--bg-gradient-under-the-sea-1: #000!important;
	--bg-gradient-under-the-sea-1-hsl: 0, 0%, 0%!important;
	--bg-gradient-under-the-sea-2: #000!important;
	--bg-gradient-under-the-sea-2-hsl: 0, 0%, 0%!important;
	--bg-gradient-under-the-sea-3: #000!important;
	--bg-gradient-under-the-sea-3-hsl: 0, 0%, 0%!important;
	--black-100: hsl(0 calc( 1 * 0%) 94.9% / 1);
	--black-100-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 94.9%;
	--black-130: hsl(0 calc( 1 * 0%) 91% / 1);
	--black-130-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 91%;
	--black-160: hsl(0 calc( 1 * 0%) 85.5% / 1);
	--black-160-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 85.5%;
	--black-200: hsl(0 calc( 1 * 0%) 80% / 1);
	--black-200-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 80%;
	--black-230: hsl(0 calc( 1 * 0%) 74.1% / 1);
	--black-230-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 74.1%;
	--black-260: hsl(0 calc( 1 * 0%) 67.5% / 1);
	--black-260-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 67.5%;
	--black-300: hsl(0 calc( 1 * 0%) 60% / 1);
	--black-300-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 60%;
	--black-330: hsl(0 calc( 1 * 0%) 47.8% / 1);
	--black-330-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 47.8%;
	--black-345: hsl(0 calc( 1 * 0%) 40% / 1);
	--black-345-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 40%;
	--black-360: hsl(0 calc( 1 * 0%) 36.1% / 1);
	--black-360-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 36.1%;
	--black-400: hsl(0 calc( 1 * 0%) 20% / 1);
	--black-400-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 20%;
	--black-430: hsl(0 calc( 1 * 0%) 14.5% / 1);
	--black-430-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 14.5%;
	--black-460: hsl(0 calc( 1 * 0%) 7.8% / 1);
	--black-460-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 7.8%;
	--black-500: #000!important;
	--black-500-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 0%;
	--black-530: hsl(0 calc( 1 * 0%) 0% / 1);
	--black-530-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 0%;
	--black-560: hsl(0 calc( 1 * 0%) 0% / 1);
	--black-560-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 0%;
	--black-600: hsl(0 calc( 1 * 0%) 0% / 1);
	--black-600-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 0%;
	--black-630: hsl(0 calc( 1 * 0%) 0% / 1);
	--black-630-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 0%;
	--black-660: hsl(0 calc( 1 * 0%) 0% / 1);
	--black-660-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 0%;
	--black-700: hsl(0 calc( 1 * 0%) 0% / 1);
	--black-700-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 0%;
	--black-730: hsl(0 calc( 1 * 0%) 0% / 1);
	--black-730-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 0%;
	--black-760: hsl(0 calc( 1 * 0%) 0% / 1);
	--black-760-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 0%;
	--black-800: hsl(0 calc( 1 * 0%) 0% / 1);
	--black-800-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 0%;
	--black-830: hsl(0 calc( 1 * 0%) 0% / 1);
	--black-830-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 0%;
	--black-860: hsl(0 calc( 1 * 0%) 0% / 1);
	--black-860-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 0%;
	--black-900: hsl(0 calc( 1 * 0%) 0% / 1);
	--black-900-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 0%;
	--blue-100: hsl(210 calc( 1 * 80%) 98% / 1);
	--blue-100-hsl: 210 calc(var(--saturation-factor, 1)* 80%) 98%;
	--blue-130: hsl(210 calc( 1 * 87.5%) 96.9% / 1);
	--blue-130-hsl: 210 calc(var(--saturation-factor, 1)* 87.5%) 96.9%;
	--blue-160: hsl(209 calc( 1 * 87.1%) 93.9% / 1);
	--blue-160-hsl: 209 calc(var(--saturation-factor, 1)* 87.1%) 93.9%;
	--blue-200: hsl(206 calc( 1 * 92.3%) 89.8% / 1);
	--blue-200-hsl: 206 calc(var(--saturation-factor, 1)* 92.3%) 89.8%;
	--blue-230: hsl(205 calc( 1 * 92.5%) 84.3% / 1);
	--blue-230-hsl: 205 calc(var(--saturation-factor, 1)* 92.5%) 84.3%;
	--blue-260: hsl(204 calc( 1 * 94.5%) 78.4% / 1);
	--blue-260-hsl: 204 calc(var(--saturation-factor, 1)* 94.5%) 78.4%;
	--blue-300: hsl(203 calc( 1 * 97.4%) 69.6% / 1);
	--blue-300-hsl: 203 calc(var(--saturation-factor, 1)* 97.4%) 69.6%;
	--blue-330: hsl(201 calc( 1 * 100%) 59% / 1);
	--blue-330-hsl: 201 calc(var(--saturation-factor, 1)* 100%) 59%;
	--blue-345: #fff!important;
	--blue-345-hsl: 200 calc(var(--saturation-factor, 1)* 100%) 49.4%;
	--blue-360: hsl(203 calc( 1 * 100%) 47.5% / 1);
	--blue-360-hsl: 203 calc(var(--saturation-factor, 1)* 100%) 47.5%;
	--blue-400: hsl(207 calc( 1 * 100%) 46.1% / 1);
	--blue-400-hsl: 207 calc(var(--saturation-factor, 1)* 100%) 46.1%;
	--blue-430: hsl(212 calc( 1 * 100%) 45.3% / 1);
	--blue-430-hsl: 212 calc(var(--saturation-factor, 1)* 100%) 45.3%;
	--blue-460: hsl(214 calc( 1 * 100%) 41% / 1);
	--blue-460-hsl: 214 calc(var(--saturation-factor, 1)* 100%) 41%;
	--blue-500: hsl(213 calc( 1 * 100%) 35.7% / 1);
	--blue-500-hsl: 213 calc(var(--saturation-factor, 1)* 100%) 35.7%;
	--blue-530: hsl(212 calc( 1 * 100%) 30.4% / 1);
	--blue-530-hsl: 212 calc(var(--saturation-factor, 1)* 100%) 30.4%;
	--blue-560: hsl(212 calc( 1 * 100%) 26.7% / 1);
	--blue-560-hsl: 212 calc(var(--saturation-factor, 1)* 100%) 26.7%;
	--blue-600: hsl(211 calc( 1 * 100%) 23.1% / 1);
	--blue-600-hsl: 211 calc(var(--saturation-factor, 1)* 100%) 23.1%;
	--blue-630: hsl(211 calc( 1 * 100%) 20.8% / 1);
	--blue-630-hsl: 211 calc(var(--saturation-factor, 1)* 100%) 20.8%;
	--blue-660: hsl(212 calc( 1 * 100%) 18.6% / 1);
	--blue-660-hsl: 212 calc(var(--saturation-factor, 1)* 100%) 18.6%;
	--blue-700: hsl(212 calc( 1 * 100%) 16.7% / 1);
	--blue-700-hsl: 212 calc(var(--saturation-factor, 1)* 100%) 16.7%;
	--blue-730: hsl(211 calc( 1 * 100%) 14.1% / 1);
	--blue-730-hsl: 211 calc(var(--saturation-factor, 1)* 100%) 14.1%;
	--blue-760: hsl(211 calc( 1 * 100%) 12.4% / 1);
	--blue-760-hsl: 211 calc(var(--saturation-factor, 1)* 100%) 12.4%;
	--blue-800: hsl(211 calc( 1 * 100%) 10.6% / 1);
	--blue-800-hsl: 211 calc(var(--saturation-factor, 1)* 100%) 10.6%;
	--blue-830: hsl(213 calc( 1 * 100%) 9.4% / 1);
	--blue-830-hsl: 213 calc(var(--saturation-factor, 1)* 100%) 9.4%;
	--blue-860: hsl(213 calc( 1 * 100%) 8.4% / 1);
	--blue-860-hsl: 213 calc(var(--saturation-factor, 1)* 100%) 8.4%;
	--blue-900: hsl(213 calc( 1 * 100%) 7.1% / 1);
	--blue-900-hsl: 213 calc(var(--saturation-factor, 1)* 100%) 7.1%;
	--brand-100: hsl(240 calc( 1 * 77.8%) 98.2% / 1);
	--brand-100-hsl: 240 calc(var(--saturation-factor, 1)* 77.8%) 98.2%;
	--brand-130: hsl(236 calc( 1 * 87.5%) 96.9% / 1);
	--brand-130-hsl: 236 calc(var(--saturation-factor, 1)* 87.5%) 96.9%;
	--brand-15a: #333!important;
	--brand-160: hsl(235 calc( 1 * 84.6%) 94.9% / 1);
	--brand-160-hsl: 235 calc(var(--saturation-factor, 1)* 84.6%) 94.9%;
	--brand-200: hsl(236 calc( 1 * 83.3%) 92.9% / 1);
	--brand-200-hsl: 236 calc(var(--saturation-factor, 1)* 83.3%) 92.9%;
	--brand-230: hsl(236 calc( 1 * 87%) 91% / 1);
	--brand-230-hsl: 236 calc(var(--saturation-factor, 1)* 87%) 91%;
	--brand-260: #333!important;
	--brand-260-hsl: 235 calc(var(--saturation-factor, 1)* 86.2%) 88.6%;
	--brand-300: hsl(235 calc( 1 * 86.1%) 85.9% / 1);
	--brand-300-hsl: 235 calc(var(--saturation-factor, 1)* 86.1%) 85.9%;
	--brand-330: hsl(235 calc( 1 * 85.1%) 81.6% / 1);
	--brand-330-hsl: 235 calc(var(--saturation-factor, 1)* 85.1%) 81.6%;
	--brand-345: hsl(235 calc( 1 * 85.2%) 78.8% / 1);
	--brand-345-hsl: 235 calc(var(--saturation-factor, 1)* 85.2%) 78.8%;
	--brand-360: #fff!important;
	--brand-360-hsl: 235 calc(var(--saturation-factor, 1)* 86.1%) 77.5%;
	--brand-400: #fff!important;
	--brand-400-hsl: 235 calc(var(--saturation-factor, 1)* 86.1%) 71.8%;
	--brand-430: hsl(235 calc( 1 * 85.7%) 69.8% / 1);
	--brand-430-hsl: 235 calc(var(--saturation-factor, 1)* 85.7%) 69.8%;
	--brand-460: hsl(235 calc( 1 * 85.5%) 67.5% / 1);
	--brand-460-hsl: 235 calc(var(--saturation-factor, 1)* 85.5%) 67.5%;
	--brand-500: #000!important;
	--brand-500-hsl: 235 calc(var(--saturation-factor, 1)* 85.6%) 64.7%;
	--brand-530: #333!important;
	--brand-530-hsl: 235 calc(var(--saturation-factor, 1)* 66.7%) 58.8%;
	--brand-560: #333!important;
	--brand-560-hsl: 235 calc(var(--saturation-factor, 1)* 51.4%) 52.4%;
	--brand-600: hsl(235 calc( 1 * 46.7%) 44.1% / 1);
	--brand-600-hsl: 235 calc(var(--saturation-factor, 1)* 46.7%) 44.1%;
	--brand-630: hsl(235 calc( 1 * 46.7%) 38.2% / 1);
	--brand-630-hsl: 235 calc(var(--saturation-factor, 1)* 46.7%) 38.2%;
	--brand-660: hsl(235 calc( 1 * 47.1%) 33.3% / 1);
	--brand-660-hsl: 235 calc(var(--saturation-factor, 1)* 47.1%) 33.3%;
	--brand-700: hsl(235 calc( 1 * 47%) 25.9% / 1);
	--brand-700-hsl: 235 calc(var(--saturation-factor, 1)* 47%) 25.9%;
	--brand-730: hsl(235 calc( 1 * 46.8%) 24.3% / 1);
	--brand-730-hsl: 235 calc(var(--saturation-factor, 1)* 46.8%) 24.3%;
	--brand-760: hsl(234 calc( 1 * 46.9%) 22.2% / 1);
	--brand-760-hsl: 234 calc(var(--saturation-factor, 1)* 46.9%) 22.2%;
	--brand-800: hsl(235 calc( 1 * 47.5%) 19.4% / 1);
	--brand-800-hsl: 235 calc(var(--saturation-factor, 1)* 47.5%) 19.4%;
	--brand-830: hsl(235 calc( 1 * 47.4%) 14.9% / 1);
	--brand-830-hsl: 235 calc(var(--saturation-factor, 1)* 47.4%) 14.9%;
	--brand-860: hsl(235 calc( 1 * 46.9%) 9.6% / 1);
	--brand-860-hsl: 235 calc(var(--saturation-factor, 1)* 46.9%) 9.6%;
	--brand-900: hsl(233 calc( 1 * 50%) 3.1% / 1);
	--brand-900-hsl: 233 calc(var(--saturation-factor, 1)* 50%) 3.1%;
	--bungie: hsl(197 calc( 1 * 100%) 44.5% / 1);
	--bungie-hsl: 197 calc(var(--saturation-factor, 1)* 100%) 44.5%;
	--crunchyroll: #000!important;
	--crunchyroll-hsl: 0, 0%, 0%!important;
	--discord-8th-bday-blue: #000!important;
	--discord-8th-bday-blue-hsl: 0, 0%, 0%!important;
	--discord-8th-bday-dark-blue: #000!important;
	--discord-8th-bday-dark-blue-hsl: 0, 0%, 0%!important;
	--discord-8th-bday-green: #000!important;
	--discord-8th-bday-green-hsl: 0, 0%, 0%!important;
	--discord-8th-bday-light-blue: #000!important;
	--discord-8th-bday-light-blue-hsl: 0, 0%, 0%!important;
	--discord-8th-bday-pink: #000!important;
	--discord-8th-bday-pink-hsl: 0, 0%, 0%!important;
	--discord-8th-bday-purple: #000!important;
	--discord-8th-bday-purple-hsl: 0, 0%, 0%!important;
	--discord-8th-bday-yellow: #000!important;
	--discord-8th-bday-yellow-hsl: 0, 0%, 0%!important;
	--ebay: #000!important;
	--ebay-hsl: 0, 0%, 0%!important;
	--epic-games: #000!important;
	--epic-games-hsl: 0, 0%, 0%!important;
	--facebook: #000!important;
	--facebook-hsl: 0, 0%, 0%!important;
	--github: #000!important;
	--github-hsl: 0, 0%, 0%!important;
	--gold: #000!important;
	--gold-hsl: 0, 0%, 0%!important;
	--green-100: hsl(137 calc( 1 * 90%) 96.1% / 1);
	--green-100-hsl: 137 calc(var(--saturation-factor, 1)* 90%) 96.1%;
	--green-130: hsl(137 calc( 1 * 94.1%) 93.3% / 1);
	--green-130-hsl: 137 calc(var(--saturation-factor, 1)* 94.1%) 93.3%;
	--green-160: hsl(141 calc( 1 * 91.3%) 86.5% / 1);
	--green-160-hsl: 141 calc(var(--saturation-factor, 1)* 91.3%) 86.5%;
	--green-200: hsl(143 calc( 1 * 93.5%) 75.9% / 1);
	--green-200-hsl: 143 calc(var(--saturation-factor, 1)* 93.5%) 75.9%;
	--green-230: #fff!important;
	--green-230-hsl: 146 calc(var(--saturation-factor, 1)* 86.6%) 64.9%;
	--green-260: hsl(146 calc( 1 * 75.1%) 59% / 1);
	--green-260-hsl: 146 calc(var(--saturation-factor, 1)* 75.1%) 59%;
	--green-300: #fff!important;
	--green-300-hsl: 146 calc(var(--saturation-factor, 1)* 65.4%) 53.5%;
	--green-330: hsl(146 calc( 1 * 63.1%) 47.8% / 1);
	--green-330-hsl: 146 calc(var(--saturation-factor, 1)* 63.1%) 47.8%;
	--green-345: hsl(147 calc( 1 * 65.9%) 43.7% / 1);
	--green-345-hsl: 147 calc(var(--saturation-factor, 1)* 65.9%) 43.7%;
	--green-360: #333!important;
	--green-360-hsl: 145 calc(var(--saturation-factor, 1)* 65%) 39.2%;
	--green-400: hsl(143 calc( 1 * 60.7%) 35.9% / 1);
	--green-400-hsl: 143 calc(var(--saturation-factor, 1)* 60.7%) 35.9%;
	--green-430: #000!important;
	--green-430-hsl: 142 calc(var(--saturation-factor, 1)* 56.1%) 32.2%;
	--green-460: #333!important;
	--green-460-hsl: 141 calc(var(--saturation-factor, 1)* 56.6%) 28%;
	--green-500: #333!important;
	--green-500-hsl: 141 calc(var(--saturation-factor, 1)* 58.4%) 24.5%;
	--green-530: hsl(140 calc( 1 * 60.7%) 21% / 1);
	--green-530-hsl: 140 calc(var(--saturation-factor, 1)* 60.7%) 21%;
	--green-560: hsl(139 calc( 1 * 61.7%) 18.4% / 1);
	--green-560-hsl: 139 calc(var(--saturation-factor, 1)* 61.7%) 18.4%;
	--green-600: hsl(139 calc( 1 * 65.4%) 15.9% / 1);
	--green-600-hsl: 139 calc(var(--saturation-factor, 1)* 65.4%) 15.9%;
	--green-630: hsl(140 calc( 1 * 66.7%) 14.1% / 1);
	--green-630-hsl: 140 calc(var(--saturation-factor, 1)* 66.7%) 14.1%;
	--green-660: hsl(139 calc( 1 * 68.8%) 12.5% / 1);
	--green-660-hsl: 139 calc(var(--saturation-factor, 1)* 68.8%) 12.5%;
	--green-700: hsl(141 calc( 1 * 74.1%) 10.6% / 1);
	--green-700-hsl: 141 calc(var(--saturation-factor, 1)* 74.1%) 10.6%;
	--green-730: hsl(138 calc( 1 * 78.3%) 9% / 1);
	--green-730-hsl: 138 calc(var(--saturation-factor, 1)* 78.3%) 9%;
	--green-760: hsl(140 calc( 1 * 84.6%) 7.6% / 1);
	--green-760-hsl: 140 calc(var(--saturation-factor, 1)* 84.6%) 7.6%;
	--green-800: hsl(139 calc( 1 * 82.4%) 6.7% / 1);
	--green-800-hsl: 139 calc(var(--saturation-factor, 1)* 82.4%) 6.7%;
	--green-830: hsl(138 calc( 1 * 80%) 5.9% / 1);
	--green-830-hsl: 138 calc(var(--saturation-factor, 1)* 80%) 5.9%;
	--green-860: hsl(133 calc( 1 * 70.4%) 5.3% / 1);
	--green-860-hsl: 133 calc(var(--saturation-factor, 1)* 70.4%) 5.3%;
	--green-900: hsl(129 calc( 1 * 58.3%) 4.7% / 1);
	--green-900-hsl: 129 calc(var(--saturation-factor, 1)* 58.3%) 4.7%;
	--guild-boosting-blue: #0000!important;
	--guild-boosting-blue-hsl: 0, 0%, 0%, 0!important;
	--guild-boosting-blue-for-gradients: #0000!important;
	--guild-boosting-blue-for-gradients-hsl: 0, 0%, 0%, 0!important;
	--guild-boosting-pink: #0000!important;
	--guild-boosting-pink-hsl: 0, 0%, 0%, 0!important;
	--guild-boosting-purple: #0000!important;
	--guild-boosting-purple-hsl: 0, 0%, 0%, 0!important;
	--guild-boosting-purple-for-gradients: #0000!important;
	--guild-boosting-purple-for-gradients-hsl: 0, 0%, 0%, 0!important;
	--hypesquad-house-1: #0000!important;
	--hypesquad-house-1-hsl: 0, 0%, 0%, 0!important;
	--hypesquad-house-2: #0000!important;
	--hypesquad-house-2-hsl: 0, 0%, 0%, 0!important;
	--hypesquad-house-3:#0000!important;
	--hypesquad-house-3-hsl: 0, 0%, 0%, 0!important;
	--input-placeholder-text-dark: #0000!important;
	--input-placeholder-text-dark-hsl: 0, 0%, 0%, 0!important;
	--lol: #000!important;
	--lol-hsl: 190 calc(var(--saturation-factor, 1)* 89.7%) 7.6%;
	--orange-100: hsl(18 calc( 1 * 100%) 98% / 1);
	--orange-100-hsl: 18 calc(var(--saturation-factor, 1)* 100%) 98%;
	--orange-130: hsl(23 calc( 1 * 100%) 96.5% / 1);
	--orange-130-hsl: 23 calc(var(--saturation-factor, 1)* 100%) 96.5%;
	--orange-160: hsl(21 calc( 1 * 93.9%) 93.5% / 1);
	--orange-160-hsl: 21 calc(var(--saturation-factor, 1)* 93.9%) 93.5%;
	--orange-200: hsl(21 calc( 1 * 92.3%) 89.8% / 1);
	--orange-200-hsl: 21 calc(var(--saturation-factor, 1)* 92.3%) 89.8%;
	--orange-230: hsl(24 calc( 1 * 92.5%) 84.3% / 1);
	--orange-230-hsl: 24 calc(var(--saturation-factor, 1)* 92.5%) 84.3%;
	--orange-260: hsl(23 calc( 1 * 94.5%) 78.6% / 1);
	--orange-260-hsl: 23 calc(var(--saturation-factor, 1)* 94.5%) 78.6%;
	--orange-300: hsl(25 calc( 1 * 94.6%) 71.2% / 1);
	--orange-300-hsl: 25 calc(var(--saturation-factor, 1)* 94.6%) 71.2%;
	--orange-330: hsl(27 calc( 1 * 94.7%) 62.7% / 1);
	--orange-330-hsl: 27 calc(var(--saturation-factor, 1)* 94.7%) 62.7%;
	--orange-345: hsl(28 calc( 1 * 87.7%) 55.5% / 1);
	--orange-345-hsl: 28 calc(var(--saturation-factor, 1)* 87.7%) 55.5%;
	--orange-360: hsl(26 calc( 1 * 71.3%) 50.8% / 1);
	--orange-360-hsl: 26 calc(var(--saturation-factor, 1)* 71.3%) 50.8%;
	--orange-400: hsl(25 calc( 1 * 67.5%) 45.9% / 1);
	--orange-400-hsl: 25 calc(var(--saturation-factor, 1)* 67.5%) 45.9%;
	--orange-430: hsl(25 calc( 1 * 69.5%) 39.8% / 1);
	--orange-430-hsl: 25 calc(var(--saturation-factor, 1)* 69.5%) 39.8%;
	--orange-460: hsl(24 calc( 1 * 72.2%) 35.3% / 1);
	--orange-460-hsl: 24 calc(var(--saturation-factor, 1)* 72.2%) 35.3%;
	--orange-500: hsl(22 calc( 1 * 76.1%) 31.2% / 1);
	--orange-500-hsl: 22 calc(var(--saturation-factor, 1)* 76.1%) 31.2%;
	--orange-530: hsl(22 calc( 1 * 77%) 27.3% / 1);
	--orange-530-hsl: 22 calc(var(--saturation-factor, 1)* 77%) 27.3%;
	--orange-560: hsl(21 calc( 1 * 77.2%) 24.1% / 1);
	--orange-560-hsl: 21 calc(var(--saturation-factor, 1)* 77.2%) 24.1%;
	--orange-600: hsl(23 calc( 1 * 79.2%) 20.8% / 1);
	--orange-600-hsl: 23 calc(var(--saturation-factor, 1)* 79.2%) 20.8%;
	--orange-630: hsl(22 calc( 1 * 79.2%) 18.8% / 1);
	--orange-630-hsl: 22 calc(var(--saturation-factor, 1)* 79.2%) 18.8%;
	--orange-660: hsl(22 calc( 1 * 78.8%) 16.7% / 1);
	--orange-660-hsl: 22 calc(var(--saturation-factor, 1)* 78.8%) 16.7%;
	--orange-700: hsl(22 calc( 1 * 76.3%) 14.9% / 1);
	--orange-700-hsl: 22 calc(var(--saturation-factor, 1)* 76.3%) 14.9%;
	--orange-730: hsl(22 calc( 1 * 78.8%) 12.9% / 1);
	--orange-730-hsl: 22 calc(var(--saturation-factor, 1)* 78.8%) 12.9%;
	--orange-760: hsl(21 calc( 1 * 78.9%) 11.2% / 1);
	--orange-760-hsl: 21 calc(var(--saturation-factor, 1)* 78.9%) 11.2%;
	--orange-800: hsl(21 calc( 1 * 80%) 9.8% / 1);
	--orange-800-hsl: 21 calc(var(--saturation-factor, 1)* 80%) 9.8%;
	--orange-830: hsl(20 calc( 1 * 76.7%) 8.4% / 1);
	--orange-830-hsl: 20 calc(var(--saturation-factor, 1)* 76.7%) 8.4%;
	--orange-860: hsl(20 calc( 1 * 73%) 7.3% / 1);
	--orange-860-hsl: 20 calc(var(--saturation-factor, 1)* 73%) 7.3%;
	--orange-900: hsl(26 calc( 1 * 72.4%) 5.7% / 1);
	--orange-900-hsl: 26 calc(var(--saturation-factor, 1)* 72.4%) 5.7%;
	--partner: hsl(215 calc( 1 * 82.8%) 59% / 1);
	--partner-hsl: 215 calc(var(--saturation-factor, 1)* 82.8%) 59%;
	--paypal: hsl(230 calc( 1 * 69.8%) 24.7% / 1);
	--paypal-hsl: 230 calc(var(--saturation-factor, 1)* 69.8%) 24.7%;
	--playstation: hsl(220 calc( 1 * 95.7%) 27.1% / 1);
	--playstation-hsl: 220 calc(var(--saturation-factor, 1)* 95.7%) 27.1%;
	--plum-23-alpha: hsl(230 calc( 1 * 60.7%) 78% / 0.09);
	--plum-23-alpha-hsl: 230 calc(var(--saturation-factor, 1)* 60.7%) 78%;
	--plum-0: hsl(240 calc( 1 * 9.1%) 97.8% / 1);
	--plum-0-hsl: 240 calc(var(--saturation-factor, 1)* 9.1%) 97.8%;
	--plum-1: hsl(240 calc( 1 * 4.3%) 95.5% / 1);
	--plum-1-hsl: 240 calc(var(--saturation-factor, 1)* 4.3%) 95.5%;
	--plum-10: hsl(229 calc( 1 * 6.8%) 53.7% / 1);
	--plum-10-hsl: 229 calc(var(--saturation-factor, 1)* 6.8%) 53.7%;
	--plum-11: hsl(229 calc( 1 * 6.9%) 45.5% / 1);
	--plum-11-hsl: 229 calc(var(--saturation-factor, 1)* 6.9%) 45.5%;
	--plum-12: hsl(228 calc( 1 * 7.6%) 38.6% / 1);
	--plum-12-hsl: 228 calc(var(--saturation-factor, 1)* 7.6%) 38.6%;
	--plum-13: hsl(227 calc( 1 * 8.3%) 32.9% / 1);
	--plum-13-hsl: 227 calc(var(--saturation-factor, 1)* 8.3%) 32.9%;
	--plum-14: hsl(230 calc( 1 * 8.5%) 27.8% / 1);
	--plum-14-hsl: 230 calc(var(--saturation-factor, 1)* 8.5%) 27.8%;
	--plum-15: hsl(229 calc( 1 * 8.9%) 24.1% / 1);
	--plum-15-hsl: 229 calc(var(--saturation-factor, 1)* 8.9%) 24.1%;
	--plum-16: hsl(234 calc( 1 * 9.3%) 21.2% / 1);
	--plum-16-hsl: 234 calc(var(--saturation-factor, 1)* 9.3%) 21.2%;
	--plum-17: hsl(233 calc( 1 * 9.3%) 19% / 1);
	--plum-17-hsl: 233 calc(var(--saturation-factor, 1)* 9.3%) 19%;
	--plum-18: hsl(233 calc( 1 * 10.6%) 16.7% / 1);
	--plum-18-hsl: 233 calc(var(--saturation-factor, 1)* 10.6%) 16.7%;
	--plum-19: hsl(233 calc( 1 * 10.8%) 14.5% / 1);
	--plum-19-hsl: 233 calc(var(--saturation-factor, 1)* 10.8%) 14.5%;
	--plum-2: hsl(220 calc( 1 * 8.6%) 93.1% / 1);
	--plum-2-hsl: 220 calc(var(--saturation-factor, 1)* 8.6%) 93.1%;
	--plum-20: hsl(231 calc( 1 * 11.1%) 12.4% / 1);
	--plum-20-hsl: 231 calc(var(--saturation-factor, 1)* 11.1%) 12.4%;
	--plum-21: hsl(231 calc( 1 * 12.7%) 10.8% / 1);
	--plum-21-hsl: 231 calc(var(--saturation-factor, 1)* 12.7%) 10.8%;
	--plum-22: hsl(240 calc( 1 * 12%) 9.8% / 1);
	--plum-22-hsl: 240 calc(var(--saturation-factor, 1)* 12%) 9.8%;
	--plum-23: hsl(240 calc( 1 * 11.6%) 8.4% / 1);
	--plum-23-hsl: 240 calc(var(--saturation-factor, 1)* 11.6%) 8.4%;
	--plum-24: hsl(228 calc( 1 * 14.3%) 6.9% / 1);
	--plum-24-hsl: 228 calc(var(--saturation-factor, 1)* 14.3%) 6.9%;
	--plum-25: hsl(240 calc( 1 * 14.3%) 5.5% / 1);
	--plum-25-hsl: 240 calc(var(--saturation-factor, 1)* 14.3%) 5.5%;
	--plum-26: hsl(240 calc( 1 * 15.8%) 3.7% / 1);
	--plum-26-hsl: 240 calc(var(--saturation-factor, 1)* 15.8%) 3.7%;
	--plum-3: hsl(225 calc( 1 * 8%) 90.2% / 1);
	--plum-3-hsl: 225 calc(var(--saturation-factor, 1)* 8%) 90.2%;
	--plum-4: hsl(225 calc( 1 * 6.2%) 87.5% / 1);
	--plum-4-hsl: 225 calc(var(--saturation-factor, 1)* 6.2%) 87.5%;
	--plum-5: hsl(220 calc( 1 * 7.3%) 83.9% / 1);
	--plum-5-hsl: 220 calc(var(--saturation-factor, 1)* 7.3%) 83.9%;
	--plum-6: hsl(231 calc( 1 * 6.7%) 79.4% / 1);
	--plum-6-hsl: 231 calc(var(--saturation-factor, 1)* 6.7%) 79.4%;
	--plum-7: hsl(227 calc( 1 * 6.8%) 73.9% / 1);
	--plum-7-hsl: 227 calc(var(--saturation-factor, 1)* 6.8%) 73.9%;
	--plum-8: hsl(230 calc( 1 * 7.4%) 68.2% / 1);
	--plum-8-hsl: 230 calc(var(--saturation-factor, 1)* 7.4%) 68.2%;
	--plum-9: hsl(231 calc( 1 * 7.1%) 61.2% / 1);
	--plum-9-hsl: 231 calc(var(--saturation-factor, 1)* 7.1%) 61.2%;
	--premium-perk-blue: hsl(222 calc( 1 * 100%) 75.1% / 1);
	--premium-perk-blue-hsl: 222 calc(var(--saturation-factor, 1)* 100%) 75.1%;
	--premium-perk-blue-alt: hsl(223 calc( 1 * 100%) 80.6% / 1);
	--premium-perk-blue-alt-hsl: 223 calc(var(--saturation-factor, 1)* 100%) 80.6%;
	--premium-perk-dark-blue: hsl(220 calc( 1 * 67.4%) 55.5% / 1);
	--premium-perk-dark-blue-hsl: 220 calc(var(--saturation-factor, 1)* 67.4%) 55.5%;
	--premium-perk-gold: hsl(38 calc( 1 * 95.7%) 54.1% / 1);
	--premium-perk-gold-hsl: 38 calc(var(--saturation-factor, 1)* 95.7%) 54.1%;
	--premium-perk-green: hsl(164 calc( 1 * 55.1%) 69.4% / 1);
	--premium-perk-green-hsl: 164 calc(var(--saturation-factor, 1)* 55.1%) 69.4%;
	--premium-perk-light-blue: hsl(221 calc( 1 * 100%) 84.1% / 1);
	--premium-perk-light-blue-hsl: 221 calc(var(--saturation-factor, 1)* 100%) 84.1%;
	--premium-perk-orange: hsl(25 calc( 1 * 96.7%) 64.1% / 1);
	--premium-perk-orange-hsl: 25 calc(var(--saturation-factor, 1)* 96.7%) 64.1%;
	--premium-perk-pink: hsl(305 calc( 1 * 100%) 75.1% / 1);
	--premium-perk-pink-hsl: 305 calc(var(--saturation-factor, 1)* 100%) 75.1%;
	--premium-perk-purple: hsl(272 calc( 1 * 100%) 80.2% / 1);
	--premium-perk-purple-hsl: 272 calc(var(--saturation-factor, 1)* 100%) 80.2%;
	--premium-perk-yellow: hsl(47 calc( 1 * 98.9%) 63.9% / 1);
	--premium-perk-yellow-hsl: 47 calc(var(--saturation-factor, 1)* 98.9%) 63.9%;
	--premium-tier-0-blue: hsl(202 calc( 1 * 100%) 38% / 1);
	--premium-tier-0-blue-hsl: 202 calc(var(--saturation-factor, 1)* 100%) 38%;
	--premium-tier-0-blue-for-gradients: hsl(202 calc( 1 * 100%) 38% / 1);
	--premium-tier-0-blue-for-gradients-hsl: 202 calc(var(--saturation-factor, 1)* 100%) 38%;
	--premium-tier-0-blue-for-gradients-2: hsl(209 calc( 1 * 80%) 45.1% / 1);
	--premium-tier-0-blue-for-gradients-2-hsl: 209 calc(var(--saturation-factor, 1)* 80%) 45.1%;
	--premium-tier-0-header-gradient-1: hsl(240 calc( 1 * 55.2%) 47.3% / 1);
	--premium-tier-0-header-gradient-1-hsl: 240 calc(var(--saturation-factor, 1)* 55.2%) 47.3%;
	--premium-tier-0-header-gradient-2: hsl(224 calc( 1 * 77.9%) 59.2% / 1);
	--premium-tier-0-header-gradient-2-hsl: 224 calc(var(--saturation-factor, 1)* 77.9%) 59.2%;
	--premium-tier-0-header-gradient-3: hsl(246 calc( 1 * 74.4%) 69.4% / 1);
	--premium-tier-0-header-gradient-3-hsl: 246 calc(var(--saturation-factor, 1)* 74.4%) 69.4%;
	--premium-tier-0-header-gradient-4: hsl(295 calc( 1 * 79.9%) 72.7% / 1);
	--premium-tier-0-header-gradient-4-hsl: 295 calc(var(--saturation-factor, 1)* 79.9%) 72.7%;
	--premium-tier-0-header-gradient-5: hsl(336 calc( 1 * 55.2%) 72% / 1);
	--premium-tier-0-header-gradient-5-hsl: 336 calc(var(--saturation-factor, 1)* 55.2%) 72%;
	--premium-tier-0-purple: hsl(235 calc( 1 * 85.6%) 64.7% / 1);
	--premium-tier-0-purple-hsl: 235 calc(var(--saturation-factor, 1)* 85.6%) 64.7%;
	--premium-tier-0-purple-for-gradients: hsl(235 calc( 1 * 85.6%) 64.7% / 1);
	--premium-tier-0-purple-for-gradients-hsl: 235 calc(var(--saturation-factor, 1)* 85.6%) 64.7%;
	--premium-tier-1-blue: hsl(228 calc( 1 * 86.7%) 70.6% / 1);
	--premium-tier-1-blue-hsl: 228 calc(var(--saturation-factor, 1)* 86.7%) 70.6%;
	--premium-tier-1-blue-for-gradients: hsl(235 calc( 1 * 85.6%) 64.7% / 1);
	--premium-tier-1-blue-for-gradients-hsl: 235 calc(var(--saturation-factor, 1)* 85.6%) 64.7%;
	--premium-tier-1-dark-blue-for-gradients: hsl(235 calc( 1 * 68.5%) 52.7% / 1);
	--premium-tier-1-dark-blue-for-gradients-hsl: 235 calc(var(--saturation-factor, 1)* 68.5%) 52.7%;
	--premium-tier-1-purple: hsl(244 calc( 1 * 100%) 84.1% / 1);
	--premium-tier-1-purple-hsl: 244 calc(var(--saturation-factor, 1)* 100%) 84.1%;
	--premium-tier-2-pink: hsl(342 calc( 1 * 58%) 72.9% / 1);
	--premium-tier-2-pink-hsl: 342 calc(var(--saturation-factor, 1)* 58%) 72.9%;
	--premium-tier-2-pink-for-gradients: hsl(325 calc( 1 * 31.7%) 51.8% / 1);
	--premium-tier-2-pink-for-gradients-hsl: 325 calc(var(--saturation-factor, 1)* 31.7%) 51.8%;
	--premium-tier-2-pink-for-gradients-2: hsl(295 calc( 1 * 51.4%) 50% / 1);
	--premium-tier-2-pink-for-gradients-2-hsl: 295 calc(var(--saturation-factor, 1)* 51.4%) 50%;
	--premium-tier-2-purple: hsl(270 calc( 1 * 86.7%) 70.6% / 1);
	--premium-tier-2-purple-hsl: 270 calc(var(--saturation-factor, 1)* 86.7%) 70.6%;
	--premium-tier-2-purple-for-gradients: hsl(269 calc( 1 * 52.7%) 52.7% / 1);
	--premium-tier-2-purple-for-gradients-hsl: 269 calc(var(--saturation-factor, 1)* 52.7%) 52.7%;
	--premium-tier-2-purple-for-gradients-2: hsl(296 calc( 1 * 50%) 51.4% / 1);
	--premium-tier-2-purple-for-gradients-2-hsl: 296 calc(var(--saturation-factor, 1)* 50%) 51.4%;
	--primary-100: hsl(0 calc( 1 * 0%) 97.6% / 1);
	--primary-100-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 97.6%;
	--primary-130: #333!important;
	--primary-130-hsl: 220 calc(var(--saturation-factor, 1)* 13%) 95.5%;
	--primary-160: hsl(210 calc( 1 * 11.1%) 92.9% / 1);
	--primary-160-hsl: 210 calc(var(--saturation-factor, 1)* 11.1%) 92.9%;
	--primary-200: hsl(216 calc( 1 * 9.8%) 90% / 1);
	--primary-200-hsl: 216 calc(var(--saturation-factor, 1)* 9.8%) 90%;
	--primary-230: #fff!important;
	--primary-230-hsl: 210 calc(var(--saturation-factor, 1)* 9.1%) 87.1%;
	--primary-260: hsl(214 calc( 1 * 8.4%) 83.7% / 1);
	--primary-260-hsl: 214 calc(var(--saturation-factor, 1)* 8.4%) 83.7%;
	--primary-300: hsl(210 calc( 1 * 9.3%) 78.8% / 1);
	--primary-300-hsl: 210 calc(var(--saturation-factor, 1)* 9.3%) 78.8%;
	--primary-330: #fff!important;
	--primary-330-hsl: 215 calc(var(--saturation-factor, 1)* 8.8%) 73.3%;
	--primary-345: hsl(214 calc( 1 * 8.4%) 67.5% / 1);
	--primary-345-hsl: 214 calc(var(--saturation-factor, 1)* 8.4%) 67.5%;
	--primary-360: #fff!important;
	--primary-360-hsl: 214 calc(var(--saturation-factor, 1)* 8.1%) 61.2%;
	--primary-400: #333!important;
	--primary-400-hsl: 223 calc(var(--saturation-factor, 1)* 5.8%) 52.9%;
	--primary-430: #333!important;
	--primary-430-hsl: 229 calc(var(--saturation-factor, 1)* 4.8%) 44.9%;
	--primary-460: hsl(228 calc( 1 * 5.2%) 38% / 1);
	--primary-460-hsl: 228 calc(var(--saturation-factor, 1)* 5.2%) 38%;
	--primary-500: #fff!important;
	--primary-500-hsl: 228 calc(var(--saturation-factor, 1)* 6%) 32.5%;
	--primary-530: #333!important;
	--primary-530-hsl: 227 calc(var(--saturation-factor, 1)* 6.5%) 27.3%;
	--primary-560: #000!important;
	--primary-560-hsl: 0, 0%, 0%!important;
	--primary-600: #000!important;
	--primary-600-hsl: 0, 0%, 0%!important;
	--primary-630: #000!important;
	--primary-630-hsl: 0deg 0% 100%!important;
	--primary-645: #000!important;
	--primary-645-hsl: 0, 0%, 0%!important;
	--primary-660: #000!important;
	--primary-660-hsl: 0, 0%, 0%!important;
	--primary-700: #000!important;
	--primary-700-hsl: 0, 0%, 0%!important;
	--primary-730: hsl(225 calc( 1 * 7.1%) 11% / 1);
	--primary-730-hsl: 225 calc(var(--saturation-factor, 1)* 7.1%) 11%;
	--primary-760: hsl(220 calc( 1 * 6.4%) 9.2% / 1);
	--primary-760-hsl: 220 calc(var(--saturation-factor, 1)* 6.4%) 9.2%;
	--primary-800: #000!important;
	--primary-800-hsl: 220 calc(var(--saturation-factor, 1)* 8.1%) 7.3%;
	--primary-830: hsl(240 calc( 1 * 4%) 4.9% / 1);
	--primary-830-hsl: 240 calc(var(--saturation-factor, 1)* 4%) 4.9%;
	--primary-860: hsl(240 calc( 1 * 7.7%) 2.5% / 1);
	--primary-860-hsl: 240 calc(var(--saturation-factor, 1)* 7.7%) 2.5%;
	--primary-900: hsl(0 calc( 1 * 0%) 0.8% / 1);
	--primary-900-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 0.8%;
	--red-100: hsl(350 calc( 1 * 75%) 98.4% / 1);
	--red-100-hsl: 350 calc(var(--saturation-factor, 1)* 75%) 98.4%;
	--red-130: hsl(0 calc( 1 * 83.3%) 97.6% / 1);
	--red-130-hsl: 0 calc(var(--saturation-factor, 1)* 83.3%) 97.6%;
	--red-160: hsl(0 calc( 1 * 90.9%) 95.7% / 1);
	--red-160-hsl: 0 calc(var(--saturation-factor, 1)* 90.9%) 95.7%;
	--red-200: hsl(358 calc( 1 * 88.9%) 92.9% / 1);
	--red-200-hsl: 358 calc(var(--saturation-factor, 1)* 88.9%) 92.9%;
	--red-230: hsl(359 calc( 1 * 85.2%) 89.4% / 1);
	--red-230-hsl: 359 calc(var(--saturation-factor, 1)* 85.2%) 89.4%;
	--red-260: hsl(359 calc( 1 * 89%) 85.7% / 1);
	--red-260-hsl: 359 calc(var(--saturation-factor, 1)* 89%) 85.7%;
	--red-300: hsl(359 calc( 1 * 91.4%) 81.8% / 1);
	--red-300-hsl: 359 calc(var(--saturation-factor, 1)* 91.4%) 81.8%;
	--red-330: hsl(359 calc( 1 * 91.3%) 77.5% / 1);
	--red-330-hsl: 359 calc(var(--saturation-factor, 1)* 91.3%) 77.5%;
	--red-345: hsl(358 calc( 1 * 92.9%) 72.4% / 1);
	--red-345-hsl: 358 calc(var(--saturation-factor, 1)* 92.9%) 72.4%;
	--red-360: hsl(358 calc( 1 * 91.8%) 66.5% / 1);
	--red-360-hsl: 358 calc(var(--saturation-factor, 1)* 91.8%) 66.5%;
	--red-400: #333!important;
	--red-400-hsl: 359 calc(var(--saturation-factor, 1)* 87.3%) 59.8%;
	--red-430: #000!important;
	--red-430-hsl: 358 calc(var(--saturation-factor, 1)* 68.8%) 53.5%;
	--red-460: hsl(359 calc( 1 * 59.1%) 46.1% / 1);
	--red-460-hsl: 359 calc(var(--saturation-factor, 1)* 59.1%) 46.1%;
	--red-500: #333!important;
	--red-500-hsl: 360 calc(var(--saturation-factor, 1)* 60.2%) 39.4%;
	--red-530: hsl(359 calc( 1 * 63.4%) 34.3% / 1);
	--red-530-hsl: 359 calc(var(--saturation-factor, 1)* 63.4%) 34.3%;
	--red-560: hsl(359 calc( 1 * 63.9%) 30.4% / 1);
	--red-560-hsl: 359 calc(var(--saturation-factor, 1)* 63.9%) 30.4%;
	--red-600: hsl(359 calc( 1 * 64.7%) 26.7% / 1);
	--red-600-hsl: 359 calc(var(--saturation-factor, 1)* 64.7%) 26.7%;
	--red-630: hsl(359 calc( 1 * 65.6%) 23.9% / 1);
	--red-630-hsl: 359 calc(var(--saturation-factor, 1)* 65.6%) 23.9%;
	--red-660: hsl(359 calc( 1 * 65.1%) 21.4% / 1);
	--red-660-hsl: 359 calc(var(--saturation-factor, 1)* 65.1%) 21.4%;
	--red-700: hsl(358 calc( 1 * 66.7%) 18.8% / 1);
	--red-700-hsl: 358 calc(var(--saturation-factor, 1)* 66.7%) 18.8%;
	--red-730: hsl(359 calc( 1 * 66.7%) 16.5% / 1);
	--red-730-hsl: 359 calc(var(--saturation-factor, 1)* 66.7%) 16.5%;
	--red-760: hsl(359 calc( 1 * 70.3%) 14.5% / 1);
	--red-760-hsl: 359 calc(var(--saturation-factor, 1)* 70.3%) 14.5%;
	--red-800: hsl(359 calc( 1 * 68.8%) 12.5% / 1);
	--red-800-hsl: 359 calc(var(--saturation-factor, 1)* 68.8%) 12.5%;
	--red-830: hsl(358 calc( 1 * 67.3%) 10.8% / 1);
	--red-830-hsl: 358 calc(var(--saturation-factor, 1)* 67.3%) 10.8%;
	--red-860: hsl(0 calc( 1 * 66.7%) 9.4% / 1);
	--red-860-hsl: 0 calc(var(--saturation-factor, 1)* 66.7%) 9.4%;
	--red-900: hsl(0 calc( 1 * 70%) 7.8% / 1);
	--red-900-hsl: 0 calc(var(--saturation-factor, 1)* 70%) 7.8%;
	--reddit: hsl(16 calc( 1 * 100%) 50% / 1);
	--reddit-hsl: 16 calc(var(--saturation-factor, 1)* 100%) 50%;
	--riot-games: hsl(349 calc( 1 * 100%) 45.9% / 1);
	--riot-games-hsl: 349 calc(var(--saturation-factor, 1)* 100%) 45.9%;
	--role-blue: hsl(204 calc( 1 * 64.4%) 35.3% / 1);
	--role-blue-hsl: 204 calc(var(--saturation-factor, 1)* 64.4%) 35.3%;
	--role-brown: hsl(24 calc( 1 * 100%) 32.9% / 1);
	--role-brown-hsl: 24 calc(var(--saturation-factor, 1)* 100%) 32.9%;
	--role-burgundy: hsl(334 calc( 1 * 79.3%) 37.8% / 1);
	--role-burgundy-hsl: 334 calc(var(--saturation-factor, 1)* 79.3%) 37.8%;
	--role-dark-blue: hsl(199 calc( 1 * 18.4%) 40.4% / 1);
	--role-dark-blue-hsl: 199 calc(var(--saturation-factor, 1)* 18.4%) 40.4%;
	--role-dark-grey: hsl(200 calc( 1 * 18.3%) 46.1% / 1);
	--role-dark-grey-hsl: 200 calc(var(--saturation-factor, 1)* 18.3%) 46.1%;
	--role-dark-purple: hsl(282 calc( 1 * 43.7%) 37.6% / 1);
	--role-dark-purple-hsl: 282 calc(var(--saturation-factor, 1)* 43.7%) 37.6%;
	--role-dark-teal: hsl(168 calc( 1 * 76.6%) 28.4% / 1);
	--role-dark-teal-hsl: 168 calc(var(--saturation-factor, 1)* 76.6%) 28.4%;
	--role-default: hsl(204 calc( 1 * 15.9%) 65.5% / 1);
	--role-default-hsl: 204 calc(var(--saturation-factor, 1)* 15.9%) 65.5%;
	--role-green: hsl(145 calc( 1 * 63.5%) 33.3% / 1);
	--role-green-hsl: 145 calc(var(--saturation-factor, 1)* 63.5%) 33.3%;
	--role-grey: hsl(202 calc( 1 * 4%) 60.8% / 1);
	--role-grey-hsl: 202 calc(var(--saturation-factor, 1)* 4%) 60.8%;
	--role-light-blue: hsl(204 calc( 1 * 15.9%) 65.5% / 1);
	--role-light-blue-hsl: 204 calc(var(--saturation-factor, 1)* 15.9%) 65.5%;
	--role-light-green: hsl(145 calc( 1 * 63.2%) 49% / 1);
	--role-light-green-hsl: 145 calc(var(--saturation-factor, 1)* 63.2%) 49%;
	--role-light-grey: hsl(184 calc( 1 * 8.7%) 61.8% / 1);
	--role-light-grey-hsl: 184 calc(var(--saturation-factor, 1)* 8.7%) 61.8%;
	--role-magenta: hsl(340 calc( 1 * 82.2%) 51.6% / 1);
	--role-magenta-hsl: 340 calc(var(--saturation-factor, 1)* 82.2%) 51.6%;
	--role-orange: hsl(28 calc( 1 * 79.7%) 51.8% / 1);
	--role-orange-hsl: 28 calc(var(--saturation-factor, 1)* 79.7%) 51.8%;
	--role-purple: hsl(283 calc( 1 * 38.9%) 53.1% / 1);
	--role-purple-hsl: 283 calc(var(--saturation-factor, 1)* 38.9%) 53.1%;
	--role-salmon: hsl(6 calc( 1 * 78.1%) 57.1% / 1);
	--role-salmon-hsl: 6 calc(var(--saturation-factor, 1)* 78.1%) 57.1%;
	--role-sky-blue: hsl(204 calc( 1 * 69.9%) 53.1% / 1);
	--role-sky-blue-hsl: 204 calc(var(--saturation-factor, 1)* 69.9%) 53.1%;
	--role-tan: hsl(37 calc( 1 * 86.5%) 40.8% / 1);
	--role-tan-hsl: 37 calc(var(--saturation-factor, 1)* 86.5%) 40.8%;
	--role-teal: hsl(168 calc( 1 * 75.7%) 42% / 1);
	--role-teal-hsl: 168 calc(var(--saturation-factor, 1)* 75.7%) 42%;
	--role-terracotta: hsl(6 calc( 1 * 63.6%) 36.7% / 1);
	--role-terracotta-hsl: 6 calc(var(--saturation-factor, 1)* 63.6%) 36.7%;
	--role-yellow: hsl(48 calc( 1 * 89%) 50.2% / 1);
	--role-yellow-hsl: 48 calc(var(--saturation-factor, 1)* 89%) 50.2%;
	--samsung: hsl(231 calc( 1 * 77.8%) 35.3% / 1);
	--samsung-hsl: 231 calc(var(--saturation-factor, 1)* 77.8%) 35.3%;
	--skype: hsl(196 calc( 1 * 100%) 42.2% / 1);
	--skype-hsl: 196 calc(var(--saturation-factor, 1)* 100%) 42.2%;
	--spotify: hsl(141 calc( 1 * 72.9%) 42% / 1);
	--spotify-hsl: 141 calc(var(--saturation-factor, 1)* 72.9%) 42%;
	--steam: hsl(215 calc( 1 * 35.1%) 14.5% / 1);
	--steam-hsl: 215 calc(var(--saturation-factor, 1)* 35.1%) 14.5%;
	--teal-100: hsl(193 calc( 1 * 69.2%) 97.5% / 1);
	--teal-100-hsl: 193 calc(var(--saturation-factor, 1)* 69.2%) 97.5%;
	--teal-130: hsl(192 calc( 1 * 83.3%) 95.3% / 1);
	--teal-130-hsl: 192 calc(var(--saturation-factor, 1)* 83.3%) 95.3%;
	--teal-160: hsl(190 calc( 1 * 83.3%) 90.6% / 1);
	--teal-160-hsl: 190 calc(var(--saturation-factor, 1)* 83.3%) 90.6%;
	--teal-200: hsl(188 calc( 1 * 85.7%) 83.5% / 1);
	--teal-200-hsl: 188 calc(var(--saturation-factor, 1)* 85.7%) 83.5%;
	--teal-230: hsl(188 calc( 1 * 88.3%) 73.1% / 1);
	--teal-230-hsl: 188 calc(var(--saturation-factor, 1)* 88.3%) 73.1%;
	--teal-260: hsl(188 calc( 1 * 81.9%) 65.3% / 1);
	--teal-260-hsl: 188 calc(var(--saturation-factor, 1)* 81.9%) 65.3%;
	--teal-300: hsl(189 calc( 1 * 72.8%) 58.2% / 1);
	--teal-300-hsl: 189 calc(var(--saturation-factor, 1)* 72.8%) 58.2%;
	--teal-330: hsl(189 calc( 1 * 65.6%) 52.2% / 1);
	--teal-330-hsl: 189 calc(var(--saturation-factor, 1)* 65.6%) 52.2%;
	--teal-345: #fff!important;
	--teal-345-hsl: 190 calc(var(--saturation-factor, 1)* 62.8%) 48.4%;
	--teal-360: #fff!important;
	--teal-360-hsl: 190 calc(var(--saturation-factor, 1)* 64%) 43.5%;
	--teal-400: #fff!important;
	--teal-400-hsl: 190 calc(var(--saturation-factor, 1)* 63.5%) 38.6%;
	--teal-430: #fff!important;
	--teal-430-hsl: 190 calc(var(--saturation-factor, 1)* 63%) 33.9%;
	--teal-460: hsl(191 calc( 1 * 64.2%) 29.6% / 1);
	--teal-460-hsl: 191 calc(var(--saturation-factor, 1)* 64.2%) 29.6%;
	--teal-500: hsl(190 calc( 1 * 65.2%) 25.9% / 1);
	--teal-500-hsl: 190 calc(var(--saturation-factor, 1)* 65.2%) 25.9%;
	--teal-530: hsl(190 calc( 1 * 66.7%) 22.4% / 1);
	--teal-530-hsl: 190 calc(var(--saturation-factor, 1)* 66.7%) 22.4%;
	--teal-560: hsl(190 calc( 1 * 69.7%) 19.4% / 1);
	--teal-560-hsl: 190 calc(var(--saturation-factor, 1)* 69.7%) 19.4%;
	--teal-600: hsl(189 calc( 1 * 71.8%) 16.7% / 1);
	--teal-600-hsl: 189 calc(var(--saturation-factor, 1)* 71.8%) 16.7%;
	--teal-630: hsl(190 calc( 1 * 73.7%) 14.9% / 1);
	--teal-630-hsl: 190 calc(var(--saturation-factor, 1)* 73.7%) 14.9%;
	--teal-660: hsl(188 calc( 1 * 75.8%) 12.9% / 1);
	--teal-660-hsl: 188 calc(var(--saturation-factor, 1)* 75.8%) 12.9%;
	--teal-700: hsl(189 calc( 1 * 79.3%) 11.4% / 1);
	--teal-700-hsl: 189 calc(var(--saturation-factor, 1)* 79.3%) 11.4%;
	--teal-730: hsl(189 calc( 1 * 80%) 9.8% / 1);
	--teal-730-hsl: 189 calc(var(--saturation-factor, 1)* 80%) 9.8%;
	--teal-760: hsl(189 calc( 1 * 81.4%) 8.4% / 1);
	--teal-760-hsl: 189 calc(var(--saturation-factor, 1)* 81.4%) 8.4%;
	--teal-800: hsl(188 calc( 1 * 83.3%) 7.1% / 1);
	--teal-800-hsl: 188 calc(var(--saturation-factor, 1)* 83.3%) 7.1%;
	--teal-830: hsl(189 calc( 1 * 87.1%) 6.1% / 1);
	--teal-830-hsl: 189 calc(var(--saturation-factor, 1)* 87.1%) 6.1%;
	--teal-860: hsl(188 calc( 1 * 85.2%) 5.3% / 1);
	--teal-860-hsl: 188 calc(var(--saturation-factor, 1)* 85.2%) 5.3%;
	--teal-900: hsl(189 calc( 1 * 90.9%) 4.3% / 1);
	--teal-900-hsl: 189 calc(var(--saturation-factor, 1)* 90.9%) 4.3%;
	--transparent: hsl(0 calc( 1 * 0%) 0% / 0);
	--transparent-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 0%;
	--twitch: hsl(262 calc( 1 * 46.8%) 39.8% / 1);
	--twitch-hsl: 262 calc(var(--saturation-factor, 1)* 46.8%) 39.8%;
	--twitter: hsl(203 calc( 1 * 89.1%) 53.1% / 1);
	--twitter-hsl: 203 calc(var(--saturation-factor, 1)* 89.1%) 53.1%;
	--white-100: hsl(0 calc( 1 * 0%) 100% / 1);
	--white-100-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 100%;
	--white-130: hsl(0 calc( 1 * 0%) 100% / 1);
	--white-130-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 100%;
	--white-160: hsl(0 calc( 1 * 0%) 100% / 1);
	--white-160-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 100%;
	--white-200: hsl(0 calc( 1 * 0%) 100% / 1);
	--white-200-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 100%;
	--white-230: hsl(0 calc( 1 * 0%) 100% / 1);
	--white-230-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 100%;
	--white-260: hsl(0 calc( 1 * 0%) 100% / 1);
	--white-260-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 100%;
	--white-300: hsl(0 calc( 1 * 0%) 100% / 1);
	--white-300-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 100%;
	--white-330: hsl(0 calc( 1 * 0%) 100% / 1);
	--white-330-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 100%;
	--white-345: hsl(0 calc( 1 * 0%) 100% / 1);
	--white-345-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 100%;
	--white-360: hsl(0 calc( 1 * 0%) 100% / 1);
	--white-360-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 100%;
	--white-400: hsl(0 calc( 1 * 0%) 100% / 1);
	--white-400-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 100%;
	--white-430: hsl(0 calc( 1 * 0%) 100% / 1);
	--white-430-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 100%;
	--white-460: hsl(0 calc( 1 * 0%) 100% / 1);
	--white-460-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 100%;
	--white-500: #fff!important;
	--white-500-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 100%;
	--white-530: hsl(0 calc( 1 * 0%) 91% / 1);
	--white-530-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 91%;
	--white-560: hsl(0 calc( 1 * 0%) 81.2% / 1);
	--white-560-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 81.2%;
	--white-600: hsl(0 calc( 1 * 0%) 67.8% / 1);
	--white-600-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 67.8%;
	--white-630: hsl(0 calc( 1 * 0%) 58.8% / 1);
	--white-630-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 58.8%;
	--white-660: hsl(0 calc( 1 * 0%) 51.4% / 1);
	--white-660-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 51.4%;
	--white-700: hsl(0 calc( 1 * 0%) 40% / 1);
	--white-700-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 40%;
	--white-730: hsl(0 calc( 1 * 0%) 37.3% / 1);
	--white-730-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 37.3%;
	--white-760: hsl(0 calc( 1 * 0%) 34.5% / 1);
	--white-760-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 34.5%;
	--white-800: hsl(0 calc( 1 * 0%) 30.2% / 1);
	--white-800-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 30.2%;
	--white-830: hsl(0 calc( 1 * 0%) 23.1% / 1);
	--white-830-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 23.1%;
	--white-860: hsl(0 calc( 1 * 0%) 14.9% / 1);
	--white-860-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 14.9%;
	--white-900: hsl(0 calc( 1 * 0%) 5.1% / 1);
	--white-900-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 5.1%;
	--xbox: hsl(120 calc( 1 * 77.1%) 27.5% / 1);
	--xbox-hsl: 120 calc(var(--saturation-factor, 1)* 77.1%) 27.5%;
	--yellow-100: hsl(34 calc( 1 * 100%) 96.9% / 1);
	--yellow-100-hsl: 34 calc(var(--saturation-factor, 1)* 100%) 96.9%;
	--yellow-130: hsl(31 calc( 1 * 100%) 95.5% / 1);
	--yellow-130-hsl: 31 calc(var(--saturation-factor, 1)* 100%) 95.5%;
	--yellow-160: hsl(33 calc( 1 * 100%) 91.4% / 1);
	--yellow-160-hsl: 33 calc(var(--saturation-factor, 1)* 100%) 91.4%;
	--yellow-200: hsl(35 calc( 1 * 97.3%) 85.5% / 1);
	--yellow-200-hsl: 35 calc(var(--saturation-factor, 1)* 97.3%) 85.5%;
	--yellow-230: hsl(37 calc( 1 * 96.6%) 77.1% / 1);
	--yellow-230-hsl: 37 calc(var(--saturation-factor, 1)* 96.6%) 77.1%;
	--yellow-260: hsl(41 calc( 1 * 96.8%) 62.9% / 1);
	--yellow-260-hsl: 41 calc(var(--saturation-factor, 1)* 96.8%) 62.9%;
	--yellow-300: #0000!important;
	--yellow-300-hsl: 40 calc(var(--saturation-factor, 1)* 86.4%) 56.9%;
	--yellow-330: hsl(40 calc( 1 * 75.3%) 52.4% / 1);
	--yellow-330-hsl: 40 calc(var(--saturation-factor, 1)* 75.3%) 52.4%;
	--yellow-345: hsl(40 calc( 1 * 71%) 48.6% / 1);
	--yellow-345-hsl: 40 calc(var(--saturation-factor, 1)* 71%) 48.6%;
	--yellow-360: hsl(39 calc( 1 * 74.4%) 42.9% / 1);
	--yellow-360-hsl: 39 calc(var(--saturation-factor, 1)* 74.4%) 42.9%;
	--yellow-400: hsl(38 calc( 1 * 78.6%) 38.4% / 1);
	--yellow-400-hsl: 38 calc(var(--saturation-factor, 1)* 78.6%) 38.4%;
	--yellow-430: hsl(37 calc( 1 * 84.4%) 32.7% / 1);
	--yellow-430-hsl: 37 calc(var(--saturation-factor, 1)* 84.4%) 32.7%;
	--yellow-460: hsl(36 calc( 1 * 87.8%) 28.8% / 1);
	--yellow-460-hsl: 36 calc(var(--saturation-factor, 1)* 87.8%) 28.8%;
	--yellow-500: hsl(36 calc( 1 * 93.8%) 25.1% / 1);
	--yellow-500-hsl: 36 calc(var(--saturation-factor, 1)* 93.8%) 25.1%;
	--yellow-530: hsl(35 calc( 1 * 92.9%) 22.2% / 1);
	--yellow-530-hsl: 35 calc(var(--saturation-factor, 1)* 92.9%) 22.2%;
	--yellow-560: hsl(34 calc( 1 * 94%) 19.6% / 1);
	--yellow-560-hsl: 34 calc(var(--saturation-factor, 1)* 94%) 19.6%;
	--yellow-600: hsl(35 calc( 1 * 93.1%) 17.1% / 1);
	--yellow-600-hsl: 35 calc(var(--saturation-factor, 1)* 93.1%) 17.1%;
	--yellow-630: hsl(35 calc( 1 * 92.4%) 15.5% / 1);
	--yellow-630-hsl: 35 calc(var(--saturation-factor, 1)* 92.4%) 15.5%;
	--yellow-660: hsl(35 calc( 1 * 91.4%) 13.7% / 1);
	--yellow-660-hsl: 35 calc(var(--saturation-factor, 1)* 91.4%) 13.7%;
	--yellow-700: hsl(34 calc( 1 * 90.3%) 12.2% / 1);
	--yellow-700-hsl: 34 calc(var(--saturation-factor, 1)* 90.3%) 12.2%;
	--yellow-730: hsl(33 calc( 1 * 92.7%) 10.8% / 1);
	--yellow-730-hsl: 33 calc(var(--saturation-factor, 1)* 92.7%) 10.8%;
	--yellow-760: hsl(33 calc( 1 * 91.7%) 9.4% / 1);
	--yellow-760-hsl: 33 calc(var(--saturation-factor, 1)* 91.7%) 9.4%;
	--yellow-800: hsl(32 calc( 1 * 90.2%) 8% / 1);
	--yellow-800-hsl: 32 calc(var(--saturation-factor, 1)* 90.2%) 8%;
	--yellow-830: hsl(32 calc( 1 * 88.9%) 7.1% / 1);
	--yellow-830-hsl: 32 calc(var(--saturation-factor, 1)* 88.9%) 7.1%;
	--yellow-860: hsl(32 calc( 1 * 86.7%) 5.9% / 1);
	--yellow-860-hsl: 32 calc(var(--saturation-factor, 1)* 86.7%) 5.9%;
	--yellow-900: hsl(36 calc( 1 * 83.3%) 4.7% / 1);
	--yellow-900-hsl: 36 calc(var(--saturation-factor, 1)* 83.3%) 4.7%;
	--youtube: hsl(0 calc( 1 * 72.8%) 46.1% / 1);
	--youtube-hsl: 0 calc(var(--saturation-factor, 1)* 72.8%) 46.1%;
	--brand-experiment-100: #000!important;
	--brand-experiment-130: var(--brand-130);
	--brand-experiment-160: var(--brand-160);
	--brand-experiment-200: var(--brand-200);
	--brand-experiment-230: var(--brand-230);
	--brand-experiment-260: var(--brand-260);
	--brand-experiment-300: var(--brand-300);
	--brand-experiment-330: var(--brand-330);
	--brand-experiment-400: var(--brand-400);
	--brand-experiment-430: var(--brand-430);
	--brand-experiment-460: var(--brand-460);
	--brand-experiment: var(--brand-500);
	--brand-experiment-500: var(--brand-500);
	--brand-experiment-530: var(--brand-530);
	--brand-experiment-560: var(--brand-560);
	--brand-experiment-600: var(--brand-600);
	--brand-experiment-630: var(--brand-630);
	--brand-experiment-660: var(--brand-660);
	--brand-experiment-700: var(--brand-700);
	--brand-experiment-730: var(--brand-730);
	--brand-experiment-760: var(--brand-760);
	--brand-experiment-800: var(--brand-800);
	--brand-experiment-830: var(--brand-830);
	--brand-experiment-860: var(--brand-860);
	--brand-experiment-900: var(--brand-900);
	--brand-experiment-05a: hsl(235 calc( 1 * 85.6%) 64.7% / 0.05);
	--brand-experiment-10a: hsl(235 calc( 1 * 85.6%) 64.7% / 0.1);
	--brand-experiment-15a: #333!important;
	--brand-experiment-20a: hsl(235 calc( 1 * 85.6%) 64.7% / 0.2);
	--brand-experiment-25a: hsl(235 calc( 1 * 85.6%) 64.7% / 0.25);
	--brand-experiment-30a: hsl(235 calc( 1 * 85.6%) 64.7% / 0.3);
	--brand-experiment-35a: hsl(235 calc( 1 * 85.6%) 64.7% / 0.35);
	--brand-experiment-40a: hsl(235 calc( 1 * 85.6%) 64.7% / 0.4);
	--brand-experiment-45a: hsl(235 calc( 1 * 85.6%) 64.7% / 0.45);
	--brand-experiment-50a: hsl(235 calc( 1 * 85.6%) 64.7% / 0.5);
	--brand-experiment-55a: hsl(235 calc( 1 * 85.6%) 64.7% / 0.55);
	--brand-experiment-60a: hsl(235 calc( 1 * 85.6%) 64.7% / 0.6);
	--brand-experiment-65a: hsl(235 calc( 1 * 85.6%) 64.7% / 0.65);
	--brand-experiment-70a: hsl(235 calc( 1 * 85.6%) 64.7% / 0.7);
	--brand-experiment-75a: hsl(235 calc( 1 * 85.6%) 64.7% / 0.75);
	--brand-experiment-80a: #0009!important;
	--brand-experiment-85a: hsl(235 calc( 1 * 85.6%) 64.7% / 0.85);
	--brand-experiment-90a: hsl(235 calc( 1 * 85.6%) 64.7% / 0.9);
	--brand-experiment-95a: #0009!important;
	--shadow-border: 0 0 0 1px #fff!important;
	--shadow-border-filter: 0 0 0 1px #fff!important;
	--shadow-button-overlay: 0 0 0 1px #fff!important;
	--shadow-button-overlay-filter: 0 0 0 1px #fff!important;
	--shadow-high: 0 0 0 1px #fff!important;
	--shadow-high-filter: 0 0 0 1px #fff!important;
	--shadow-ledge: 0 0 0 1px #fff!important;
	--shadow-ledge-filter: 0 0 0 1px #fff!important;
	--shadow-low: 0 0 0 1px #fff!important;
	--shadow-low-filter: 0 0 0 1px #fff!important;
	--shadow-low-active: 0 0 0 1px #fff!important;
	--shadow-low-active-filter: 0 0 0 1px #fff!important;
	--shadow-low-hover: 0 0 0 1px #fff!important;
	--shadow-low-hover-filter: 0 0 0 1px #fff!important;
	--shadow-medium: 0 0 0 1px #fff!important;
	--shadow-medium-filter: 0 0 0 1px #fff!important;
	--shadow-mobile-navigator-x: 0 0 0 1px #fff!important;
	--shadow-mobile-navigator-x-filter: 0 0 0 1px #fff!important;
	--shadow-top-high: 0 0 0 1px #fff!important;
	--shadow-top-high-filter: 0 0 0 1px #fff!important;
	--shadow-top-ledge: 0 0 0 1px #fff!important;
	--shadow-top-ledge-filter: 0 0 0 1px #fff!important;
	--shadow-top-low: 0 0 0 1px #fff!important;
	--shadow-top-low-filter: 0 0 0 1px #fff!important;
	--elevation-low: 0 0 0 1px #fff!important;
	--elevation-medium: 0 0 0 1px #fff!important;
	--action-sheet-gradient-bg: #000!important;
	--activity-card-background: #0000!important;
	--activity-card-icon-overlay: #0000!important;
	--alert-bg: #000!important;
	--android-navigation-bar-background: #000!important;
	--android-navigation-scrim-background: #000!important;
	--android-ripple: #000!important;
	--background-accent: #000!important;
	--background-floating: #000!important;
	--background-mentioned: #000!important;
	--background-mentioned-hover: #333!important;
	--background-message-automod: #000!important;
	--background-message-automod-hover: #333!important;
	--background-message-highlight: #333!important;
	--background-message-highlight-hover: #333!important;
	--background-message-hover: #333!important;
	--background-mobile-primary: #000!important;
	--background-mobile-secondary: #000!important;
	--background-modifier-accent: #fff!important;
	--background-modifier-accent-2: #000!important;
	--background-modifier-active: #333!important;
	--background-modifier-hover: #333!important;
	--background-modifier-selected: #333!important;
	--background-nested-floating: #000!important;
	--background-primary: #000!important;
	--background-secondary: #000!important;
	--background-secondary-alt: #000!important;
	--background-tertiary: #000!important;
	--bg-backdrop: hsl(0 calc( 1 * 0%) 0% / 0.7);
	--bg-backdrop-no-opacity: var(--black-500);
	--bg-base-primary: #000!important;
	--bg-base-secondary:#000!important;
	--bg-base-tertiary: #000!important;
	--bg-brand: #000!important;
	--bg-mod-faint: #000!important;
	--bg-mod-strong: hsl(228 calc( 1 * 6%) 32.5% / 0.54);
	--bg-mod-subtle: #0000!important;
	--bg-surface-overlay: var(--primary-800);
	--bg-surface-overlay-tmp: var(--primary-800);
	--bg-surface-raised: var(--primary-600);
	--black: #000!important;
	--blur-fallback: hsl(225 calc( 1 * 6.3%) 12.5% / 0.96);
	--blur-fallback-pressed: hsl(225 calc( 1 * 7.1%) 11% / 0.96);
	--radio-bar-accent-color: #0000!important;
	--border-faint: #fff!important;
	--border-strong: #fff!important;
	--border-subtle: #fff!important;
	--bug-reporter-modal-submitting-background: hsl(220 calc( 1 * 8.1%) 7.3% / 0.6);
	--button-creator-revenue-background: #000!important;
	--button-danger-background: #000!important;
	--button-danger-background-active: #333!important;
	--button-danger-background-disabled: #000!important;
	--button-danger-background-hover: #333!important;
	--button-outline-brand-background: #000!important;
	--button-outline-brand-background-active: #333!important;
	--button-outline-brand-background-hover: #333!important;
	--button-outline-brand-border: #fff!important;
	--button-outline-brand-border-active: #fff!important;
	--button-outline-brand-border-hover: #fff!important;
	--button-outline-brand-text: #fff!important;
	--button-outline-brand-text-active: #fff!important;
	--button-outline-brand-text-hover: #fff!important;
	--button-outline-danger-background: #000!important;
	--button-outline-danger-background-active: #333!important;
	--button-outline-danger-background-hover: #333!important;
	--button-outline-danger-border: #fff!important;
	--button-outline-danger-border-active: #fff!important;
	--button-outline-danger-border-hover: #fff!important;
	--button-outline-danger-text: #fff!important;
	--button-outline-danger-text-active: #fff!important;
	--button-outline-danger-text-hover: #fff!important;
	--button-outline-positive-background: #fff!important;
	--button-outline-positive-background-active: #333!important;
	--button-outline-positive-background-hover: #333!important;
	--button-outline-positive-border: #fff!important;
	--button-outline-positive-border-active: #fff!important;
	--button-outline-positive-border-hover: #fff!important;
	--button-outline-positive-text: #fff!important;
	--button-outline-positive-text-active: #fff!important;
	--button-outline-positive-text-hover: #fff!important;
	--button-outline-primary-background: #000!important;
	--button-outline-primary-background-hover: #333!important;
	--button-outline-primary-border: #fff!important;
	--button-outline-primary-border-hover: #fff!important;
	--button-outline-primary-text: #fff!important;
	--button-outline-primary-text-active: #fff!important;
	--button-outline-primary-text-hover: #fff!important;
	--button-positive-background: #000!important;
	--button-positive-background-active: #333!important;
	--button-positive-background-disabled: #000!important;
	--button-positive-background-hover: #333!important;
	--button-secondary-background: #000!important;
	--button-secondary-background-active: #333!important;
	--button-secondary-background-disabled: #333!important;
	--card-gradient-bg: #000!important;
	--card-gradient-pressed-bg: #333!important;
	--card-primary-bg: #000!important;
	--card-primary-pressed-bg: #333!important;
	--card-secondary-bg: #000!important;
	--card-secondary-pressed-bg: #333!important;
	--channel-icon: #fff!important;
	--channel-text-area-placeholder: #fff!important;
	--channels-default: #000!important;
	--channeltextarea-background: #000!important;
	--chat-background: #000!important;
	--chat-banner-bg: #000!important;
	--chat-border: #fff!important;
	--chat-input-container-background: #000!important;
	--chat-swipe-to-reply-background: #000!important;
	--chat-swipe-to-reply-gradient-background: #000!important;
	--coachmark-bg: #000!important;
	--context-menu-backdrop-background: #000!important;
	--control-brand-foreground: #fff!important;
	--control-brand-foreground-new: #fff!important;
	--creator-revenue-info-box-background: #fff!important;
	--deprecated-card-bg: #000!important;
	--deprecated-card-editable-bg: #000!important;
	--deprecated-quickswitcher-input-background: #000!important;
	--deprecated-quickswitcher-input-placeholder: #fff!important;
	--deprecated-store-bg: #000!important;
	--deprecated-text-input-bg: #000!important;
	--deprecated-text-input-border: #fff!important;
	--deprecated-text-input-border-disabled: #fff!important;
	--deprecated-text-input-border-hover: #fff!important;
	--deprecated-text-input-prefix: #fff!important;
	--display-banner-overflow-background: #000!important;
	--divider-strong: #fff!important;
	--divider-subtle: #fff!important;
	--embed-background: #000!important;
	--embed-background-alternate: #000!important;
	--embed-title: #fff!important;
	--expression-picker-bg: #000!important;
	--focus-primary: var(--blue-345);
	--forum-post-extra-media-count-container-background: #000!important;
	--forum-post-tag-background: #000!important;
	--guild-icon-inactive-bg: #000!important;
	--guild-icon-inactive-nested-bg:#000!important;
	--guild-notifications-bottom-sheet-pill-background: #000!important;
	--halo-positive: #000!important;
	--header-muted: #000!important;
	--header-primary: #fff!important;
	--header-secondary: #000!important;
	--home-background: #000!important;
	--home-card-resting-border: #fff!important;
	--icon-muted: #fff!important;
	--icon-primary: #fff!important;
	--icon-secondary: #fff!important;
	--icon-transparent: #0000!important;
	--info-box-background: #000!important;
	--info-danger-background: #000!important;
	--info-danger-foreground: #fff!important;
	--info-danger-text: #fff!important;
	--info-help-background: #000!important;
	--info-help-foreground: #fff!important;
	--info-help-text: #fff!important;
	--info-positive-background: #000!important;
	--info-positive-foreground: #fff!important;
	--info-positive-text: #fff!important;
	--info-warning-background: #000!important;
	--info-warning-foreground: #fff!important;
	--info-warning-text: #fff!important;
	--input-background: #000!important;
	--input-focused-border: #fff!important;
	--input-placeholder-text: #fff!important;
	--interactive-active: #fff!important;
	--interactive-hover: #333!important;
	--interactive-muted: #000!important;
	--interactive-normal: #fff!important;
	--legacy-android-blur-overlay-default: hsl(228 calc( 1 * 6.7%) 14.7% / 0.5);
	--legacy-android-blur-overlay-ultra-thin: hsl(0 calc( 1 * 0%) 0% / 0.025);
	--legacy-blur-fallback-default: hsl(228 calc( 1 * 6.7%) 14.7% / 0.975);
	--legacy-blur-fallback-ultra-thin: hsl(0 calc( 1 * 0%) 0% / 0.95);
	--live-stage-tile-border: #fff!important;
	--logo-primary: #fff!important;
	--mention-background: #333!important;
	--mention-foreground: #fff!important;
	--modal-background: #000!important;
	--modal-footer-background: #000!important;
	--navigator-header-tint: var(--white-500);
	--panel-bg: #000!important;
	--polls-normal-fill-hover: var(--primary-600);
	--polls-normal-image-background: #000!important;
	--polls-victor-fill: hsl(145 calc( 1 * 65%) 39.2% / 0.2);
	--polls-voted-fill: hsl(235 calc( 1 * 85.6%) 64.7% / 0.2);
	--profile-gradient-card-background: #000!important;
	--profile-gradient-message-input-border: hsl(228 calc( 1 * 6%) 32.5% / 0.48);
	--profile-gradient-note-background: #000!important;
	--profile-gradient-overlay: #0000!important;
	--profile-gradient-overlay-synced-with-user-theme: hsl(0 calc( 1 * 0%) 0% / 0.8);
	--profile-gradient-profile-body-background-hover: hsl(0 calc( 1 * 0%) 100% / 0.16);
	--profile-gradient-role-pill-background: hsl(228 calc( 1 * 6.7%) 14.7% / 0.5);
	--profile-gradient-role-pill-border: #fff!important;
	--profile-gradient-section-box: #000!important;
	--redesign-activity-card-background: #000!important;
	--redesign-activity-card-background-pressed: var(--primary-630);
	--redesign-activity-card-badge-icon: #fff!important;
	--redesign-activity-card-border: #fff!important;
	--redesign-activity-card-overflow-background: var(--primary-630);
	--redesign-button-active-background: #333!important;
	--redesign-button-active-text: #fff!important;
	--redesign-button-danger-background: #000!important;
	--redesign-button-danger-pressed-background: #333!important;
	--redesign-button-danger-text: #fff!important;
	--redesign-button-destructive-background: #000!important;
	--redesign-button-destructive-pressed-background: #333!important;
	--redesign-button-destructive-text: #fff!important;
	--redesign-button-overlay-alpha-background: hsl(0 calc( 1 * 0%) 0% / 0.54);
	--redesign-button-overlay-alpha-pressed-background: hsl(0 calc( 1 * 0%) 0% / 0.64);
	--redesign-button-overlay-alpha-text: #fff!important;
	--redesign-button-overlay-background: #0000!important;
	--redesign-button-overlay-pressed-background: #333!important;
	--redesign-button-overlay-text: #fff!important;
	--redesign-button-positive-background: #000!important;
	--redesign-button-positive-text: #fff!important;
	--redesign-button-primary-alt-background:#000!important;
	--redesign-button-primary-alt-border: #fff!important;
	--redesign-button-primary-alt-on-blurple-background: #000!important;
	--redesign-button-primary-alt-on-blurple-border: #fff!important;
	--redesign-button-primary-alt-on-blurple-pressed-background: #333!important;
	--redesign-button-primary-alt-on-blurple-pressed-border: #fff!important;
	--redesign-button-primary-alt-on-blurple-text: #fff!important;
	--redesign-button-primary-alt-pressed-background: #333!important;
	--redesign-button-primary-alt-pressed-border: #fff!important;
	--redesign-button-primary-alt-pressed-text: #fff!important;
	--redesign-button-primary-alt-text: #fff!important;
	--redesign-button-primary-background: #000!important;
	--redesign-button-primary-on-blurple-pressed-text: #fff!important;
	--redesign-button-primary-overlay-background: var(--white-500);
	--redesign-button-primary-overlay-pressed-background: var(--primary-230);
	--redesign-button-primary-overlay-text: #fff!important;
	--redesign-button-primary-pressed-background: #333!important;
	--redesign-button-primary-text: #fff!important;
	--redesign-button-secondary-background: #000!important;
	--redesign-button-secondary-border: #fff!important;
	--redesign-button-secondary-overlay-background: #0000!important;
	--redesign-button-secondary-overlay-pressed-background: #333!important;
	--redesign-button-secondary-overlay-text: #fff!important;
	--redesign-button-secondary-pressed-background: #333!important;
	--redesign-button-secondary-pressed-border: #fff!important;
	--redesign-button-secondary-text: #fff!important;
	--redesign-button-selected-background: #333!important;
	--redesign-button-selected-pressed-background: #333!important;
	--redesign-button-selected-text: #fff!important;
	--redesign-button-tertiary-background: #000!important;
	--redesign-button-tertiary-pressed-background: #333!important;
	--redesign-button-tertiary-pressed-text: #fff!important;
	--redesign-button-tertiary-text: #fff!important;
	--redesign-channel-category-name-text: #fff!important;
	--redesign-channel-message-preview-text: #fff!important;
	--redesign-channel-name-muted-text: #fff!important;
	--redesign-channel-name-text: #fff!important;
	--redesign-chat-input-background: #000!important;
	--redesign-image-button-pressed-background: hsl(0 calc( 1 * 0%) 0% / 0.08);
	--redesign-input-control-active-bg: var(--primary-645);
	--redesign-input-control-selected: var(--brand-500);
	--redesign-only-background-active: var(--primary-530);
	--redesign-only-background-default: #000!important;
	--redesign-only-background-overlay: #0000!important;
	--redesign-only-background-raised: #000!important;
	--redesign-only-background-sunken: var(--primary-660);
	--scrollbar-auto-scrollbar-color-thumb: var(--primary-730);
	--scrollbar-auto-scrollbar-color-track: var(--primary-630);
	--scrollbar-auto-thumb: var(--primary-730);
	--scrollbar-auto-track: var(--primary-630);
	--scrollbar-thin-thumb: var(--primary-730);
	--scrollbar-thin-track: hsl(0 calc( 1 * 0%) 0% / 0);
	--spoiler-hidden-background: var(--primary-700);
	--spoiler-revealed-background: var(--primary-660);
	--status-danger: #000!important;
	--status-danger-background: #000!important;
	--status-danger-text: #fff!important;
	--status-dnd: var(--red-400);
	--status-idle: var(--yellow-300);
	--status-offline: var(--primary-360);
	--status-online: var(--green-360);
	--status-positive: var(--green-360);
	--status-positive-background: #000!important;
	--status-positive-text: #fff!important;
	--status-speaking: #000!important;
	--status-warning: var(--yellow-300);
	--status-warning-background: #000!important;
	--status-warning-text: #fff!important;
	--text-brand: #fff!important;
	--text-danger: #fff!important;
	--text-link: #fff!important;
	--text-link-low-saturation: #fff!important;
	--text-low-contrast: #fff!important;
	--text-message-preview-low-sat: #fff!important;
	--text-muted: #fff!important;
	--text-muted-on-default: #fff!important;
	--text-normal: #fff!important;
	--text-positive: #fff!important;
	--text-primary: #fff!important;
	--text-secondary: #fff!important;
	--text-warning: #fff!important;
	--textbox-markdown-syntax: #fff!important;
	--not-quite-black: #000!important;
	--not-quite-black-rgb: 0, 0, 0!important;
	--theme-locked-blur-fallback: #0000!important;
	--thread-channel-spine: #fff!important;
	--toast-bg: #000!important;
	--typing-indicator-bg: #fff!important;
	--user-profile-header-overflow-background: #000!important;
	--voice-video-video-tile-background: #000!important;
	--voice-video-video-tile-blur-fallback: #000!important;
	--white: #fff!important;
	--you-bar-bg: var(--primary-800);
	--custom-header-icon-color-expired: #fff!important;
	--custom-premium-colors-premium-gradient-tier-0: #000!important;
	--custom-premium-colors-premium-gradient-tier-1: #000!important;
	--custom-premium-colors-premium-gradient-tier-2: #000!important;
	--custom-premium-colors-premium-gradient-tier-2-transparent: #000!important;
	--custom-premium-colors-premium-gradient-tier-2-diagonal: #000!important;
	--custom-premium-colors-premium-gradient-tier-2-tri-color: #000!important;
	--custom-premium-colors-premium-gradient-tier-2-tri-color-reverse: #000!important;
	--custom-premium-colors-premium-gradient-tier-2-old: #000!important;
	--custom-guild-shop-channel-row-gradient: #000!important;
	--custom-guild-shop-channel-row-gradient-hover: #000!important;
	--custom-guild-shop-channel-row-border-gradient: #fff!important;
	--custom-guild-shop-channel-row-glow: 0 0 4px #000!important;
	--custom-guild-shop-preview-pill-shadow-dark: -4px 5px #fff!important;
	--custom-guild-shop-preview-pill-shadow-light: -4px 5px #fff!important;
	--custom-guild-shop-gradient-start: #000!important;
	--custom-guild-shop-gradient-end: #000!important;
	--custom-store-colors-primary-750: #000!important;
	--custom-store-colors-premium-gradient: #000!important;
	--search-popout-option-fade: #0000!important;
	--search-popout-option-fade-hover: #0000!important;
	--search-popout-option-user-nickname: #fff!important;
	--search-popout-option-user-username: #fff!important;
	--search-popout-option-filter-text: #fff!important;
	--search-popout-option-non-text-color: #fff!important;
	--search-popout-option-filter-color: #fff!important;
	--search-popout-option-answer-color: #fff!important;
	--search-popout-date-picker-border: 1px solid #fff!important;
	--search-popout-date-picker-hint-text: #fff!important;
	--search-popout-date-picker-hint-value-text: #fff!important;
	--search-popout-date-picker-hint-value-background: #000!important;
	--search-popout-date-picker-hint-value-background-hover: #333!important;
	--__header-bar-background: #000!important;
	--__card-accent-color: #0000!important;
	--profile-gradient-primary-color: #000!important;
	--profile-gradient-secondary-color: #000!important;
	--profile-gradient-overlay-color: #0009!important;
	--profile-gradient-button-color: #fff!important;
	--profile-avatar-border-color: #fff!important;
	--profile-body-background-color: #000!important;
	--profile-body-background-hover: #333!important;
	--profile-body-divider-color: #fff!important;
	--profile-body-border-color: #fff!important;
	--profile-message-input-border-color: #fff!important;
	--profile-note-background-color: #000!important;
	--profile-role-pill-background-color: #000!important;
	--profile-role-pill-border-color: #fff!important;
	--menu-item-danger-active-bg: #333!important;
	--menu-item-danger-hover-bg: #333!important;
	--menu-item-default-active-bg: #333!important;
	--menu-item-default-hover-bg: #333!important;
	--redesign-button-active-pressed-background: #333!important;
	--elevation-stroke: 0 0 0 1px #fff!important;
	--elevation-high: 0 0 0 1px #fff!important;
	--button-danger-border: #fff!important;
	--button-filled-brand-background: #000!important;
	--button-filled-brand-background-active: #333!important;
	--button-filled-brand-background-hover: #333!important;
	--button-filled-brand-border: #fff!important;
	--button-filled-brand-inverted-background: #000!important;
	--button-filled-brand-inverted-background-active: #333!important;
	--button-filled-brand-inverted-background-hover: #333!important;
	--button-filled-brand-inverted-text: #fff!important;
	--button-filled-brand-text: #fff!important;
	--button-filled-white-background: #000!important;
	--button-filled-white-background-active: #333!important;
	--button-filled-white-background-hover: #333!important;
	--button-filled-white-text: #fff!important;
	--__lottieIconColor: #fff!important;
}
.removeButton__1fed1:hover div, .lookLink__201d5:hover div, .username_c19a55:hover, .executedCommand_c19a55 .applicationName_c19a55, .executedCommand_c19a55 .clanTagChiplet_c19a55, .executedCommand_c19a55 .commandName_c19a55, .executedCommand_c19a55 .username_c19a55, .repliedMessage_c19a55 .clanTagChiplet_c19a55, .repliedMessage_c19a55 .roleDot_c19a55, .repliedMessage_c19a55 .username_c19a55, .threadMessageAccessory_c19a55 .clanTagChiplet_c19a55, .threadMessageAccessory_c19a55 .username_c19a55, .markup__75297 a[href] span, .top_b3f026 .item_b3f026:hover, .top_b3f026 .brand_b3f026.item_b3f026:active, .top_b3f026 .brand_b3f026.selected_b3f026.item_b3f026 {
	color: #54aaff!important;
}
.colorable_f1ceac.white_f1ceac {
	background: #000!important;
}
.hero_af3b89 {
	background: #0000!important;
}
.lookFilled__201d5.colorWhite__201d5:hover, .emojiItem_fc7141:hover, .gifFavoriteButton__43deb:hover, .reaction__23977:hover, .interactive:hover, .mentioned__5126c, .row__76f04:hover, .container__6764b:hover {
	background: #333!important;
}
.progressBar_eff079, .grabber_a562c8 {
	background: #fff!important;
}
.lookFilled__201d5, .accountProfileCard__1fed1, .container_fea832, .container__0f2e8, .channelTextArea__74017, .upsellTooltipWrapper__675aa, .contentWrapper__08434, .reaction__23977, .hero_af3b89, textarea.input__0f084:not(.title_d9be46), .container_a45028, .popover_c97e55, .container_d1d9f3, .reactionBtn__23977.forceShow__23977, .inner_c0bea0, .menuOverlay_af7fb7, .debugPanelStandalone__50387, .container__5a2d9, .content__908e2, .wrapper_d5f3cd, .wrapper__44df5, .popout__76f04, .messages__1ccd1, .browser_d98031, .messagesPopoutWrap__45690, .app-launcher-entrypoint button {
	border: 1px solid #fff!important;
}
.header_f37cb1 {
	border-bottom: 1px solid #fff!important;
}
.wrapper_ef3116, .sidebar_c48ade {
	border-right: 1px solid #fff!important;
}
.container_c8ffbb {
	border-left: 1px solid #fff!important;
}
.container__37e49, .container_e131a9 {
	border-top: 1px solid #fff!important;
}
.embed__623de, .pill_a2c9e8, .forumPost__7d15e, .file__0ccae, .footer__4d95d, .textContainer__4d95d, .container__6764b, .markup__75297 code, .messageGroupWrapper__45690, .select__3f413 {
	border-color: #fff!important;
}
.container_e131a9 {
	border-bottom: none!important;
}
.tabBar_f8303a, .divider__46c3b, .tabBar_d1d9f3, .peopleListItem_cc6179, .top_b3f026 .item_b3f026, .channelRow_e4503a {
	border: none!important;
}
.searchBar__97492, .container_fc561d, .friendRequestsButton__523aa, .baseShapeRound__2b1f5, .menu_c1e9c4, .botTag__82f07, .popoutContentWrapper_af3b89, .interactionsContainer_af3b89, .rootWithShadow__49fc1, .tooltip__382e7, .gifFavoriteButton__43deb, .root__24502, .reactionTooltip_b49891, .mention__3b95d, .tile__90dc5, .overlayTitle__2f4f7, .section__00943, .blockedIgnoredSettingsNotice__6811a, .embed__623de, .container__2692d, .newMessagesBar__0f481, .channelRow_e4503a, .panel_c0bea0 {
	box-shadow: 0 0 0 1px #fff!important;
}
.container__06283 {
	filter: invert(1)!important;
}
.username_c19a55, .mention__3b95d {
	opacity: 1!important;
}
.mention, .username_c19a55, .nickname__63ed3 {
	text-decoration: none!important;
}
.wrapper_cc5dd2, .controlButton__1405b {
	filter: drop-shadow(0px 1px 1px #fff)drop-shadow(0px 1px 0px #fff)drop-shadow(-1px -1px 0px #fff)drop-shadow(1px -1px 0px #fff)!important;
}
.line__2debe:first-child:before {
	content: "Blackord v.0.6.61"!important;
	display: block!important;
}
.tooltipPointer__382e7, .separator_c1e9c4, .pointer__5a2d9, .mentioned__5126c:before {
	display: none!important;
}
/* Module "Switch" */
.container__87bf1 {
	background: #000!important;
}
.container__87bf1 {
	box-shadow: 0 0 0 1px #fff!important;
}
/* Module "Player" */
.audioControls_cf09d8, .videoControls_cf09d8, .mediaBarInteractionVolume_b26b79 {
	background: #000!important;
}
.mediaBarPreview_b26b79, .buffer_b26b79, .buffer_b26b79:after, .buffer_b26b79:before {
	background: #111!important;
}
.mediaBarWrapper_b26b79 {
	background: #333!important;
}
.mediaBarProgress_b26b79, .mediaBarInteraction_b26b79:hover .mediaBarGrabber_b26b79, .mediaBarProgress_b26b79, .mediaBarProgress_b26b79:before {
	background: #fff!important;
}
.bubble_b26b79:before {
	border-top-color: #fff!important;
}
.hoverButtonGroup__06ab4, .nonMediaMosaicItem__06ab4, .bubble_b26b79, .mediaBarInteractionVolume_b26b79 {
	box-shadow: 0 0 0 1px #fff!important;
}
.nonMediaMosaicItem__06ab4 {
	outline: none!important;
}
.controlIcon_cf09d8 {
	opacity: 1!important;
}
/*  Module "Syntax Color" */
.hljs{color:#fff!important}.hljs-comment,.hljs-quote{color:#5c6773!important}.hljs-attr,.hljs-attribute,.hljs-link,.hljs-regexp,.hljs-selector-class,.hljs-selector-id,.hljs-template-variable,.hljs-variable{color:#ff7733!important}.hljs-builtin-name,.hljs-literal,.hljs-meta,.hljs-number,.hljs-params,.hljs-type{color:#ffee99!important}.hljs-bullet,.hljs-string{color:#b8cc52!important}.hljs-built_in,.hljs-section,.hljs-title{color:#ffb454!important}.hljs-keyword,.hljs-selector-tag,.hljs-symbol{color:#ff7733!important}.hljs-name{color:#36a3d9!important}.hljs-tag{color:#00568d!important}.hljs-emphasis{font-style:italic!important}.hljs-strong{font-weight:bold!important}.hljs-addition{color:#91b362!important}.hljs-deletion{color:#d96c75!important}
/* Client [Discord iFrame] */
[class*="widgetHeader-"], [class*="widgetBody-"], [class*="widgetFooter-"], [class*="widgetBtnConnect-"] {
	background: #0000!important;
}
[class*="widgetBtnConnect-"]:hover {
	background: #333!important;
}
[class*="widgetHeader-"] {
	border-bottom: 1px solid #fff!important;
}
[class*="widgetFooter-"] {
	border-top: 1px solid #fff!important;
}
#discord-widget>div, [class*="widgetBtnConnect-"] {
	border: 1px solid #fff!important;
}
[class*="widgetFooterInfo-"], [class*="widgetBtnConnect-"]:hover {
	opacity: 1!important;
}
/* Client [BetterDiscord] */
.bd-addon-header .bd-icon {
	fill: #fff!important;
}
.bd-button, .monaco-editor, .monaco-editor-background, .monaco-editor .margin, .bd-addon-error, .bd-addon-error-stack code, .monaco-editor .bracket-match {
	background: #0000!important;
}
[class*="toast-"]>[class*="bg-"], .bf-toolbar::before, #files_directDownload .file, .monaco-editor .suggest-widget>.tree {
	background: #000!important;
}
.bd-button:hover, .bd-select .bd-select-option:hover, .bd-select .bd-select-option.selected, .colorInfo-2URYW5, .bf-toolbar .format:hover, .monaco-editor .minimap-slider .minimap-slider-horizontal, .monaco-list.list_id_1 .monaco-list-row.focused, #bd-settings-sidebar .ui-tab-bar-item.selected {
	background: #333!important;
}
.monaco-editor .view-overlays .current-line {
	background: #222!important;
}
[class*="toast-"]>[class*="bar-"], #bd-settings-sidebar .ui-tab-bar-separator, .xenoLib-notification-loadbar, #files_directDownload .file .progress-bar, .theme-dark .bd-changelog-modal .bd-modal-content ul li::before, .bd-changelog-fixed::after {
	background: #fff!important;
}
[class*="toast-"], .languageSelector-2LVJrh, .bd-toast, .bd-button:not(.bd-changelog-button), .bd-modal-root, .bd-addon-list .bd-addon-card, .bd-select .bd-select-options, [id*="bd-floating-window-"], #bd-editor-panel, .bd-switch-body, .bd-addon-error, .bd-addon-error-stack code, .bd-search-wrapper {
	box-shadow: 0 0 0 1px #fff!important;
}
#files_directDownload .file, .bf-toolbar::before, .monaco-editor .suggest-widget>.tree {
	border: 1px solid #fff!important;
}
[class*="toast-"]>[class*="bar-"], [class*="toast-"]>[class*="bg-"], .bd-select-wrapper label, .bf-toolbar .format>img, .bf-toolbar .format>svg, .theme-dark .bd-changelog-modal .bd-modal-content ul li::before {
	opacity: 1!important;
}
.bd-toast {
	background-color: #000!important;
}
.bd-select:hover, .bd-select.menu-open {
	border-color: #fff!important;
}
#bd-editor-panel {
	border-radius: 10px!important;
}
.monaco-editor .view-overlays .current-line, .bd-addon-error, .bd-addon-error-stack code, .monaco-editor .bracket-match {
	border: none!important;
}
#bd-pub-li, .bd-setting-divider, #BetterUploads-Button {
	display: none!important;
}
.bd-addon-links.bda-links {
	color: #000!important;
}
.bd-addon-list .bd-footer a:hover, #pluginNotice #outdatedPlugins span:hover {
	text-decoration: none!important;
}
.bd-settings-group.collapsible .bd-settings-title::after {
	filter: invert(1)!important;
}
#files_directDownload .file svg {
	fill: #fff!important;
}
.bd-switch-body {
	--switch-color: #000!important;
}
.bd-search-wrapper {
	margin-top: 10px!important;
}
/* Client [Undiscord] */
#undiscord a[href] {
	color: #54aaff!important;
}
#undiscord .btn:hover, #undiscord button:hover {
	background: #333!important;
}
#undiscord.container, #undiscord .multiInput, #undiscord .btn, #undiscord button, #undiscord #undiscord .multiInput>.input-wrapper, #undiscord .input-wrapper>input#search, #undiscord input[type="datetime-local"], #undiscord .input-wrapper>#pattern {
	box-shadow: 0 0 0 1px #fff!important;
}
#undiscord .sidebar {
	border-right: 1px solid #fff!important;
}
#undiscord .header {
	border-bottom: 1px solid #fff!important;
}
#undiscord .divider, #undiscord hr {
	border: none!important;
}
#undiscord label>input[type="checkbox"] {
	filter: invert(1) grayscale(1) brightness(3)!important;
}
/* Client [Vencord] */
* {
	--button--underline-color: #0000!important;
}
.contents-3NembX:hover {
	color: #54aaff!important;
}
.vc-error-card {
	background: #000!important;
}
.vc-error-card {
	border: 1px solid #fff!important;
}
.cardPrimary-pAe8Ed, .vc-settings-tab-bar-item:hover {
	border-color: #fff!important;
}
.vc-addon-card, .input_f27786:not(.input__3006b):not(.textarea__0461c):not(.title__20d69), .lookFilled__9c1ef.select_fe2671 {
	box-shadow: 0 0 0 1px #fff!important;
}
.vc-settings-tab-bar {
	border: none!important;
}
/* Client [PLUGIN Permissions] */
#permissions-modal-wrapper .header, #permissions-modal-wrapper .modal-body, #permissions-modal-wrapper .role-side, #permissions-modal-wrapper .perm-side {
	background: #0000!important;
}
#permissions-modal-wrapper .role-item.selected, #permissions-modal-wrapper .role-item:hover {
	background: #333!important;
}
#permissions-modal-wrapper .perm-item, #permissions-modal-wrapper .header {
	box-shadow: none!important;
}
#permissions-modal-wrapper .role-scroller {
	border-right: 1px solid #fff!important;
}
#permissions-modal-wrapper .header {
	border-bottom: 1px solid #fff!important;
}
#dv-mount {
	background: #000!important;
}
/* SITE [GLOBAL] */
* {
	--refresh-blue: #000!important;
	--always-white: #000!important;
}
.linkButton_b83a05 .contents_dd4f85, .removeButton_de76e4:hover {
	color: #54aaff!important;
}
.home--hero, .home--2section, .home--3section, .home--4section, .home--5section, .home--6section, .home--section7, .discord_banner, .home-new_footer-black, aside#landing-cta button.gtm-click-class-open-button, .home--block-group, .line-animation, .hero_button-r, .hero_button-l, .navbar[style*="background-color: rgb(88, 101, 242)"] {
	background: #000!important;
}
aside#landing-cta button.gtm-click-class-open-button:hover, .buttonWhite-1M-wED:hover, .hero_button-r:hover, .hero_button-l:hover {
	background: #333!important;
}
.button-bl {
	background-color: #000!important;
}
.button-bl:hover {
	background-color: #333!important;
}
.authBox_b83a05, .button_dd4f85.lookFilled_dd4f85, .home--block-group, .buttonWhite-1M-wED, .buttonDark-3a8taR, .button-bl, .hero_button-r, .hero_button-l {
	border: 1px solid #fff!important;
}
.footer_line-top {
	background: #0000!important;
}
.footer_line-top {
	border-top: 1px solid #fff!important;
}
.characterBackground_bdd070 .artwork_bdd070 {
	display: none!important;
}
/* SITE [Global] {MOBILE} */
.w-nav-menu[data-nav-menu-open], .div-block-absol, .button-blue-menu {
	background: #000!important;
}
.w-nav-menu[data-nav-menu-open], .button-blue-menu {
	border: 1px solid #fff!important;
}
.discord2 {
	filter: invert(1)!important;
}
/* SITE [/login] */
.qrCodeContainer_c28498 {
	background: #fff!important;
}
.authBox__921c5, .mainLoginContainer__1d5fc .input__0f084 {
	box-shadow: 0 0 0 1px #fff!important;
}
.characterBackground_eb4069 img, .qrLoginInner_e16417 .text-md\/normal_cf4812 {
	display: none!important;
}
/* SITE [/blog] */
.footer-link-item:hover, .pillar-column-container-copy:hover>a>.blog-pillar-hero-title, .pillar-column-container:hover>a>.blog-pillar-small-title, .collection-item-small:hover .blog-featured-title-small, .collection-item-3:hover .blog-featured-title, .blog-nav-item:hover {
	color: #54aaff!important;
}
.blog-pillar-section, .blog-button, .footer, .blog-home-hero-header, .header-blue-blog, .dropdown-list, .next, .previous, .footer-open-discord-button, .blog-pillar-hero-header {
	background: #000!important;
}
.blog-button:hover, .dropdown-link:hover, .next:hover, .previous:hover, .footer-open-discord-button:hover {
	background: #333!important;
}
.blog-pillar-hero-header {
	border-bottom: 1px solid #fff!important;
}
.footer {
	border-top: 1px solid #fff!important;
}
.blog-pillar-section, .blog-button, .form-search, .dropdown-list, .footer-open-discord-button {
	box-shadow: 0 0 0 1px #fff!important;
}
.form-search {
	border: none!important;
}
.footer-link-item, .blog-nav-item {
	text-decoration: none!important;
}
.blog-featured-title-small:hover, .blog-featured-title:hover {
	opacity: 1!important;
}
.btn-search {
	filter: invert(1) grayscale(1) brightness(2)!important;
}
.footer-divider {
	display: none!important;
}
/* SITE [/build] */
.inspired-content, .inspired-tab-link, .tabs-build {
	background: #000!important;
}
.footer-bg, .bg-blur-card, .main-wrapper.build-new, .button-build-green, .button-build-blue, .bg-blur-white, .button-build-white {
	background: #0000!important;
}
.button-build-green:hover, .button-build-blue:hover, .button-build-white:hover {
	background: #333!important;
}
.inspired-content, .inspired-tab-link, .build-card, .button-build-green, .tabs-build, .button-build-blue, .button-build-white {
	border: 1px solid #fff!important;
}
.footer-bg, .bg-blur-card, .bg-blur-white {
	opacity: 1!important;
}
.footer-new, .inspired-content, .build-info, .tabs-build {
	-webkit-backdrop-filter: none!important;
	backdrop-filter: none!important;
}
/* SITE [/careers] */
.link-footer:hover {
	color: #54aaff!important;
}
.nav-blue, .section-blue, .grey-section-ntm, .link-block-filters, .category, .w-slider, .w-slider-arrow-left, .w-slider-arrow-right, .section-dg, .internship-section {
	background: #000!important;
}
.link-block-filters:hover, .link-block-filters.active {
	background: #333!important;
}
.internship-section {
	border: 1px solid #fff!important;
}
.link-block-filters, .category, .w-slider, .w-slider-arrow-left, .w-slider-arrow-right {
	box-shadow: 0 0 0 1px #fff!important;
}
.w-slider-arrow-left, .w-slider-arrow-right, .footer-line-blue {
	border: none!important;
}
.wave-wr {
	display: none!important;
}
.link-footer {
	text-decoration: none!important;
}
img[src*="_arrow-"] {
	filter: grayscale(1) brightness(3)!important;
}
/* SITE [/community] */
.section-white-moderation, .section-green-community, .section-red-community, .section-blue-community, .section-grey, .section-white {
	background-color: #000!important;
}
/* SITE [/company] */
.hero-bl-section {
	background: #0000!important;
}
/* SITE [/creators] */
.section-gradient, .button-white-bg-r28, .creators-section, .section-hero-hub.creator, .div-green, .div-blue {
	background: #0000!important;
}
.div-green, .div-blue {
	border: 1px solid #fff!important;
}
/* SITE [/download] */
.w-dropdown-list {
	background: #000!important;
}
.download-hero, .platform-tile, .grey-content2 {
	background: #0000!important;
}
.dropdown-link-download:hover {
	background: #333!important;
}
.platform-tile, .new-dark-button.download, .grey-content2, .w-dropdown-toggle {
	border: 1px solid #fff!important;
}
/* SITE [/gaming] */
.gaming_card {
	background: #000!important;
}
.gaming_hero, .gaming_cards, .gaming_nitro, .gaming_nitro_gradient, .gaming_nitro_card {
	background: #0000!important;
}
.gaming_card, .gaming_nitro_card {
	border: 1px solid #fff!important;
}
/* SITE [/hypesquad] */
.bg-under-white-nav {
	background: #000!important;
}
.hs-about-section, .white-card-item, .grey-section {
	background: #0000!important;
}
.white-card-item {
	border: 1px solid #fff!important;
}
.bg-under-white-nav {
	border-bottom: 1px solid #fff!important;
}
.rep-underline {
	border: none!important;
}
.new-link-small {
	opacity: 1!important;
}
.new-link-small {
	text-decoration: none!important;
}
/* Site [/mobile] */
* {
	--blurple: #000!important;
	--dark-button-hover: #333!important;
	--greyple: #000!important;
	--spring-green: #000!important;
	--dim-grey: #fff!important;
	--dark-blurple: #000!important;
	--fuchsia: #000!important;
	--yellow: #000!important;
	--mint-green: #000!important;
	--red: #000!important;
	--ekko-red: #000!important;
	--vivid-cerulean: #000!important;
	--orange: #000!important;
	--pink: #000!important;
	--button-hover: #333!important;
	--pinc-2: #000!important;
	--green: #000!important;
	--purple: #000!important;
	--navy-blue: #000!important;
}
.mobile_hero, .bg-smooth-change, .bg-smooth-change-2, .tab-full-list-card-wrapper, .bg-color-dark, .so-fast-card, .mobile_tab {
	background: #0000!important;
}
.mobile_green-button:hover, .tab-full-list_menu-link.w--current, .mobile_button-wr.w--current>.mobile_button, .mobile_button-wr:hover>.mobile_button {
	background: #333!important;
}
.mobile_button {
	border: 1px solid #fff!important;
}
.tab-full-list-card-wrapper, .mobile_green-button, .so-fast-card, .mobile_tab {
	box-shadow: 0 0 0 1px #fff!important;
}
.heading-style-stroke-h2, .heading-style-shadow-h2, .mobile_green-button_shadow, .mobile_button-shadow {
	display: none!important;
}
._63 {
	opacity: 1!important;
}
/* SITE [/moderation] */
.dropdown-link-wrapper:hover {
	color: #54aaff!important;
}
.scils-wrapper, .button-black, .curriculum-wrapper {
	background: #000!important;
}
.button-black:hover {
	background: #333!important;
}
.scils-wrapper, .button-black, .curriculum-wrapper {
	box-shadow: 0 0 0 1px #fff!important;
}
.dropdown-wrapper, .div-line, .title-menu-anchor-wrapper, .moderation-menu-introduction {
	border: none!important;
}
/* SITE [/newsroom] */
.job-right-content {
	background: #000!important;
}
.s-news-2, .s-numbers, .s-founders, .s-job {
	background: #0000!important;
}
.job-wrapper {
	border: 1px solid #fff!important;
}
.discord-black {
	filter: invert(1)!important;
}
/* SITE [/nitro] */
.nav-link:hover {
	color: #54aaff!important;
}
.banner, .hero-bg-wrapper, .button-white, .button-white-bg, .card-grey, .plan-block, .dropdown-qa, .footer-black, .section-2, .nitro_2024, .nitro_gifts_gradient {
	background: #000!important;
}
.button-white:hover, .button-white-bg:hover {
	background: #333!important;
}
.dropdown-qa {
	border: 1px solid #fff!important;
}
.footer-black {
	border-top: 1px solid #fff!important;
}
.tab-qa.w--current, .div-block-16 {
	border-color: #fff!important;
}
.banner, .button-white, .button-white-bg, .card-grey, .plan-block {
	box-shadow: 0 0 0 1px #fff!important;
}
.plan, .plan2 {
	border: none!important;
}
.video-link-new video, .unleash-image-bg-1, .unleash-image-bg-2 {
	display: none!important;
}
.nav-link {
	text-decoration: none!important;
}
/* SITE [/partners] */
.language .lang-dropdown-container {
    background: #000!important;
}
.section-dark2, .section-grey-120px, .section-dark, .new-button {
    background: #0000!important;
}
.new-button:hover, .language .dropdown-item:hover {
    background: #333!important;
}
.new-button, .language .lang-dropdown-container {
    box-shadow: 0 0 0 1px #fff!important;
}
.line-b {
    border: none!important;
}
.image-svg2, .language .lang-dropdown>div:nth-child(3) {
    display: none!important;
}
/* SITE [/safetycenter] */
.link-card:hover .text-24px-700 {
	color: #54aaff!important;
}
.container-1260px-grey, .button-blue-20px {
	background: #000!important;
}
.button-blue-20px:hover, .safety-grid-wrapper:hover {
	background: #333!important;
}
.container-1260px-grey, .button-blue-20px {
	box-shadow: 0 0 0 1px #fff!important;
}
/* SITE [/safety] */
.title-menu-anchor.w--current, p>a[href], .tab.w--current div, .rich-safeties>p>[href], .breadcrumbs-link:hover {
	color: #54aaff!important;
}
#cms-search, .section-safety, .search, .w-select, .s-safetie-feature, .s-hero-safeties, .safety-grey {
	background: #000!important;
}
.button-search {
	background-color: #000!important;
}
.search, .hero-button-white {
	box-shadow: 0 0 0 1px #fff!important;
}
.title-menu-anchor, .tab {
	border: none!important;
}
.title-menu-anchor {
	text-decoration: none!important;
}
/* SITE [/servers] */
.externalLink-2_8PKT:hover span {
	color: #54aaff!important;
}
.buttonBrand-2Qfqw3, .searchButton-2-uL9p, .hero-button-white {
	background: #000!important;
}
.listMembersSeparatorDot-bAxJt8 {
	background: #fff!important;
}
.searchListItem-3mtFl3:hover, .categoryListItem-OOs6ri:hover, .activeButton-WomIBL, .pageNumber-34JVBH:hover, .pageButton-Iz4QWC:hover, .buttonBrand-2Qfqw3:hover {
	background: #333!important;
}
.searchBox-pyIJJj, .listGuildBadgeContainer-17j9ln, .joinDiscordButton-3ZAjvj, .buttonBrand-2Qfqw3, .communityUpsellButton-3BGBWD {
	box-shadow: 0 0 0 1px #fff!important;
}
.headerForegroundLeft-2lOY0U, .headerForegroundRight-2W0Uuk, .headerImgBackground-1WIElA {
	display: none!important;
}
.externalLink-2_8PKT {
	text-decoration: none!important;
}
/* Site [support.] */
.article-body h1, .article-body h2, .community-follow button::after, .dropdown-menu [role="menuitem"]:hover {
	color: #fff!important;
}
#end .nav .link-a:hover, .results-list-item-link:hover, .breadcrumbs li a:hover, .article-list-item a:hover, .section-tree .see-all-articles:hover, .nav-wrapper a:hover, .section-tree-title a:hover, .related-articles>ul>li>a[href]:hover, .article-more-questions a, .article-body a:hover, .profile-contribution-title a:hover, .dropdown-toggle:hover, .article-meta a:hover, .striped-list-title:hover {
	color: #54aaff!important;
}
.hero, #end, #end .hook .button, .dropdown-menu, .article-body h3, .profile-header, .profile-nav, .profile-activity-icon, .button-large {
	background: #000!important;
}
.sub-nav input[type="search"], .profile-activity-contribution, .community-follow button, .hero-inner form input, .flex-item hr {
	background: #0000!important;
}
#end .hook .button:hover, .search-results-sidebar .sidenav-item:hover, .search-results-sidebar .sidenav-item.current, .pagination-next-link:hover, .pagination-first-link:hover, .pagination-last-link:hover, .dropdown-menu [role="menuitem"]:hover, .sidenav-item:hover, .sidenav-item.current-article, .article-vote:hover, .article-subscribe button:hover, .community-follow button:hover, .avatar .icon-agent, .blocks-item:hover, .button-large:hover {
	background: #333!important;
}
.flex-item {
	background-color: #000!important;
}
.flex-item:hover {
	background-color: #333!important;
}
#end .hook .button, .dropdown-menu, .article-body h3, .profile-activity-contribution, .profile-activity-icon {
	border: 1px solid #fff!important;
}
.hero {
	border-bottom: 1px solid #fff!important;
}
.pagination-next-link, .pagination-first-link, .pagination-last-link, .article-vote, .article-subscribe button, .collapsible-nav-list li[aria-selected="true"], .collapsible-nav-list li.current, .community-follow button, .community-follow button::after, .blocks-item {
	border-color: #fff!important;
}
.sub-nav, .section-tree .section:not(:last-of-type), .article-relatives, .article-votes, .striped-list-item, .topic-header {
	border: none!important;
}
.button-large, .striped-list-item {
	box-shadow: 0 0 0 1px #fff!important;
}
#end .nav .link-a, .results-list-item-link, .breadcrumbs li a, .search-results-sidebar .see-all-filters, .article-list-item a, .section-tree .see-all-articles, .nav-wrapper a, .section-tree-title a, .related-articles>ul>li>a[href], .article-more-questions a, .article-body a, .profile-contribution-title a, .dropdown-toggle, .article-meta a {
	text-decoration: none!important;
}
.logo img {
	filter: grayscale(1) brightness(2)!important;
}
.dropdown-menu [role="menuitem"][aria-selected="true"]::after {
	filter: invert(1)!important;
}
.search-results-list>li {
	padding: 10px!important;
	margin: 10px!important;
}
.striped-list-item {
	margin: 25px!important;
	padding: 25px!important;
}
.search-results-list>li, .search-container .search, .hero-inner form {
	border-radius: 10px!important;
}
#end .link-sep {
	opacity: 1!important;
}
/* SITE [/quests] */
.link-drop, .link-block-fixed {
	background: #000!important;
}
.advertising-hero, .new-dark-button, .dropdown-list-adopen-wr, .cards-gradient, .grey-block, .banner-gr, .case-slide_content-wr, .tag-slider, .number-block.is-bg-blue {
	background: #0000!important;
}
.link-block-fixed.w--current, .new-dark-button:hover, .dropdown-link-desktop.dtop:hover {
	background: #333!important;
}
.new-dark-button, .link-block-fixed, .cards-gradient, .grey-block, .banner-gr, .case-slide_content-wr, .tag-slider, .number-block.is-bg-blue {
	border: 1px solid #fff!important;
}
.ad_faq {
	border: none!important;
}
.div-bg, .circle-hover, .bg-l, .cases_slider_image, .gradient-bottom, .bg-how-work {
	display: none!important;
}
.paragraph-opacity-50 {
	opacity: 1!important;
}
.number-block, .bg-how-work, .link-drop, .link-block-fixed {
	backdrop-filter: none!important;
}
